
<!--GLOSSARY_LIST_HEAD_START//-->
[CP_TITLE]<h4>{CP_TITLE}</h4>[/CP_TITLE]
[CP_SUBTITLE]<h4>{CP_SUBTITLE}</h4>[/CP_SUBTITLE]

[FILTER]
<div class="glossary_filter_top">
    {FILTER}
</div>
[/FILTER]
<!--GLOSSARY_LIST_HEAD_END//-->


<!--GLOSSARY_LIST_SPACER_START//-->
    <div class="glossary_list_space"></div>
<!--GLOSSARY_LIST_SPACER_END//-->


<!--GLOSSARY_LIST_ENTRY_START//-->
    <div class="glossary_list_entry" id="glossary-listitem-{GLOSSARY_ID}">
        [TITLE]<h2><a href="{LINK}">{TITLE}</a></h2>[/TITLE]
        <div>{TEXT}</div>
    </div>
<!--GLOSSARY_LIST_ENTRY_END//-->


<!--GLOSSARY_LIST_FOOTER_START//-->
[FILTER]
<div class="glossary_filter_bottom">
    {FILTER}
</div>
[/FILTER]
<!--GLOSSARY_LIST_FOOTER_END//-->



<!--GLOSSARY_DETAIL_HEAD_START//-->
[CP_TITLE]<h4>{CP_TITLE}</h4>[/CP_TITLE]
[CP_SUBTITLE]<h4>{CP_SUBTITLE}</h4>[/CP_SUBTITLE]

<!--GLOSSARY_DETAIL_HEAD_END//-->


<!--GLOSSARY_DETAIL_ENTRY_START//-->
    <div class="glossary_list_entry" id="glossary-entry-{GLOSSARY_ID}">
        [TITLE]<h2>{TITLE}</h2>[/TITLE]
        <div>{TEXT}</div>
    </div>
<!--GLOSSARY_DETAIL_ENTRY_END//-->

<!--GLOSSARY_DETAIL_FOOTER_START//-->
    <div>
    <a href="{BACKLINK}">Zur&uuml;ck</a>
    </div>
<!--GLOSSARY_DETAIL_FOOTER_END//-->

