tr.tableHeadRow {
	
}

.grey_button {
	background: #DDDDDD url(../../img/button/bg_button_grey.gif) repeat-x 0 center;
	border: 1px solid #707070;
	color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
.grey_button:hover {
	background-image: url(../../img/button/bg_button_blue.gif);
	border-color: #3C7FB1;
	color: #000000;
	text-decoration: none;
}

tr.tableHeadRow th {
	padding:				2px 0 4px 0;
	text-align:				center;
	font-weight:			normal;
	font-size:				10px;
	vertical-align:			bottom;
	border-top:				1px solid #92a1af;
}

tr.listrow:hover {
	background-color:		#DEF9AC;
}

#licenseExtensions {
	margin-top: 15px;
	font-size: 11px;
}
#licenseExtensions ul {
	margin: 0 0 0 23px;
	padding: 0;
}
#licenseExtensions li {
	margin: 0 0 6px 0;
	font-size: 11px;
	list-style: disc;
}

select.listrow option {
	padding:				2px;
	border-bottom:			1px dotted #DDDDDD;
}
select.listrow option:hover, select.optionhover option:hover {
	background-color:		#DEF9AC;
}

form.formRightInput {
	margin: 0;
	padding: 0;
	float: right;
}
form.formRightInput input.smallInputField {
	width: 25px;
	padding: 0;
	font-size: 9px;
	font-weight: normal;
	text-align: center;
}
table.tdMorepace td {
	padding: 0 0 1px 0;
}

.width15 {	width: 15px;	}
.width15i { width: 15px; margin:0 1px 0 2px; }
.width20 {	width: 20px;	}
.width25 {	width: 25px;	}
.width30 {	width: 30px;	}
.width35 {	width: 35px;	}
.width40 {	width: 40px;	}
.width45 {	width: 45px;	}
.width50 {	width: 50px;	}
.width75 {	width: 75px;	}
.width100 {	width: 100px;	}
.width125 {	width: 125px;	}
.width150 {	width: 150px;	}
.width160 {	width: 160px;	}
.width170 {	width: 170px;	}
.width175 {	width: 175px;	}
.width185 {	width: 185px;	}
.width200 {	width: 200px;	}
.width225 {	width: 225px;	}
.width250 {	width: 250px;	}
.width300 {	width: 300px;	}
.width350 {	width: 350px;	}
.width360 {	width: 360px;	}
.width375 {	width: 375px;	}
.width400 {	width: 400px;	}
.width440 {	width: 440px;	}
.width440p5 {	width: 433px; margin-right: 5px;	}
.width540 {	width: 540px;	}

.bold {
	font-weight:	bold;
}

.tdleft5 {
	padding-left: 5px;
}
.tdleft10 {
	padding-left: 10px;
}

.tdtop3 {
	vertical-align: top;
	padding-top: 3px;
}
.tdtop4 {
	vertical-align: top;
	padding-top: 4px;
}
.tdtop5 {
	vertical-align: top;
	padding-top: 5px;
}
.tdtop6 {
	vertical-align: top;
	padding-top: 6px;
}
.tdbottom2 {
	vertical-align: top;
	padding-bottom: 2px;
}
.tdbottom3 {
	vertical-align: top;
	padding-bottom: 3px;
}
.tdbottom4 {
	vertical-align: top;
	padding-bottom: 4px;
}
.tdbottom5 {
	vertical-align: top;
	padding-bottom: 5px;
}
.tdbottom6 {
	vertical-align: top;
	padding-bottom: 6px;
}
.tdbottom10 {
	vertical-align: top;
	padding-bottom: 10px;
}

.rowspacer1x0 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left top;
	background-repeat:		repeat-x;
	padding:				1px 0 0 0;
}

.rowspacer10x10 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left;
	background-repeat:		repeat-x;
	padding:				10px 0 10px 0;
}

.rowspacer7x7 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left;
	background-repeat:		repeat-x;
	padding:				7px 0 7px 0;
}
.rowspacer0x7 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left top;
	background-repeat:		repeat-x;
	padding:				1px 0 7px 0;
}
.rowspacer7x0 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left bottom;
	background-repeat:		repeat-x;
	padding:				7px 0 1px 0;
}
.rowspacer0x5 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left top;
	background-repeat:		repeat-x;
	padding:				1px 0 5px 0;
}
.rowspacer5x0 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left bottom;
	background-repeat:		repeat-x;
	padding:				5px 0 1px 0;
}
.rowspacer10x0 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left bottom;
	background-repeat:		repeat-x;
	padding:				10px 0 1px 0;
}
.rowspacer0x10 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left top;
	background-repeat:		repeat-x;
	padding:				1px 0 10px 0;
}
.rowspacer {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left bottom;
	background-repeat:		repeat-x;
}
.rowspacer0x0 {
	background-image:		url(../../img/lines/be_dotted_line.gif);
	background-position:	left bottom;
	background-repeat:		repeat-x;
	padding:				0 0 1px 0;
}


td.inlineCheckbox checkbox {
	margin: 0;
	padding: 0;
}
td.inlineCheckbox label {
	padding: 0 0 0 0;
	margin: 0;
	position: relative;
	top: -2px;
}


/* based on CSS Edit 2.0 and exploding-boy.com*/

#tabsG {
	background:					#FFFFFF;
	font-size:					11px;
	line-height:				normal;
	font-family: 				Verdana, Arial, Helvetica, sans-serif;
	font-weight: 				bold;
	border-bottom:				1px solid #92A1AF;
	margin:						0 0 10px 0;
}
#tabsG ul {
	margin:						0;
	padding:					0;
	list-style:					none;
}
#tabsG li {
	display:					inline;
	margin:						0;
	padding:					0;
}
#tabsG a {
	float:						left;
	background:					url(../../img/tab/tableftG.gif) no-repeat left top;
	margin:						0;
	padding:					0 0 0 4px;
	text-decoration:			none;
}
#tabsG a span {
	float:						left;
	display:					block;
	background:					url(../../img/tab/tabrightG.gif) no-repeat right top;
	padding:					5px 12px 4px 6px;
	color: 						#6288ad;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsG a span {float:			none;}
/* End IE5-Mac hack */

#tabsG a:hover span {
	color: 						#325676;
}
#tabsG a:hover {
	background-position:		0% -42px;
}
#tabsG a:hover span {
	background-position:		100% -42px;
}
#tabsG .activeTab a {
	background-position:		0% -42px;
	color: 						#325676;
}
#tabsG .activeTab a span {
	background-position:		100% -42px;
	color:						#325676;
}

br.clear {
	clear: both;
}

td.linkcursor:hover {
	cursor:						pointer;
}

.greyed {
	color: 						#727889;
}


/* System Status Message */
div.status_message_info {
	margin:						0 0 15px 0;
	border:						1px solid #FFCC00;
	background-color:			#FEE16C;
	color:						#363C47;
	padding:					5px 5px 5px 25px;
	background-image:			url(../../img/famfamfam/information.png) !important;
	background-image:			url(../../img/famfamfam/information.gif);
	background-repeat:			no-repeat;
	background-position:		4px 4px;
	font-size:					12px;
	font-weight:				normal;
}
div.status_message_success {
	margin:						0 0 15px 0;
	border:						1px solid #009900;
	background-color:			#DEF9AC;
	color:						#006600;
	padding:					5px 5px 5px 25px;
	background-image:			url(../../img/famfamfam/accept.png) !important;
	background-image:			url(../../img/famfamfam/accept.gif);
	background-repeat:			no-repeat;
	background-position:		4px 4px;
	font-size:					12px;
	font-weight:				normal;
}
div.status_message_warning {
	margin:						0 0 15px 0;
	border:						1px solid #CC3300;
	background-color:			#FFC6C6;
	color:						#CC0033;
	padding:					5px 5px 5px 25px;
	background-image:			url(../../img/famfamfam/exclamation.png) !important;
	background-image:			url(../../img/famfamfam/exclamation.gif);
	background-repeat:			no-repeat;
	background-position:		4px 4px;
	font-size:					12px;
	font-weight:				normal;
}

table.settings td {
	padding-bottom:				3px;
}

table.listing {
	width: 100%;
	border-spacing: 0;
	/* border-bottom: 1px solid #92a1af; */
}
table.listing th {
	text-align: left;
	border-bottom: 1px solid #92a1af;
	border-top: 1px solid #92a1af;
	font-size: 10px;
	padding: 3px 2px 2px 4px;
}
table.listing tr.row.alt {
	background-color: #f3f5f8;
}
table.listing tr.row:hover {
	background-color: #DEF9AC;
}
table.listing td {
	padding: 3px 2px 2px 4px;
}
table.listing tr.row td {
	border-bottom: 1px solid #d9dee3;
}
table.listing tr.row.alt td {
	border-bottom: 1px solid #d9dee3;
}
table.listing td.collast {
	text-align: right;
	padding-top: 4px;
	padding-bottom: 1px;
	white-space: nowrap;
}
table.listing td a {
	padding: 0 1px 0 1px;
}

table.listing th.colfirst,
table.listing td.colfirst {
	padding-left: 21px;
	white-space: nowrap;
}
table.listing td.colfirst {
	background: url(../../img/famfamfam/page_white.gif) no-repeat 1px center;
}

form.free p {
	padding: 0 0 6px 0;
	margin: 0 0 0 0;
	clear: both;
}
form.free p.footer {
	border-top: 1px solid #d9dee3;
	padding: 6px 0 10px 130px;
}
form.free div.paragraph {
	padding: 6px 0 6px 0;
	margin: 0 0 0 0;
	clear: both;
}
form.free p.important {
	font-weight: bold;
}
form.free p.break {
	padding: 6px 0 6px 0;
	margin: 0 0 6px 0;
	border-bottom: 1px solid #d9dee3;
	border-top: 1px solid #d9dee3;
}
form.free p.bottom_break {
	padding-bottom: 6px;
	margin: 0 0 6px 0;
	border-bottom: 1px solid #d9dee3;
}
form.free .border_top {
	border-top: 1px solid #d9dee3;
}
form.free .border_bottom {
	border-bottom: 1px solid #d9dee3;
}
form.free .space_top {
	padding-top: 6px;
}
form.free .filled {
	background-color: #f3f5f8;
}
form.free p.morespace {
	padding-bottom: 12px;
}
form.free label {
	padding: 5px 8px 0 0;
	float: left;
	width: 130px;
	text-align: right;
	font-size: 10px;
	color: #406C94;
}
form.free td label {
	padding: 0 8px 0 0;
}
form.free td.top {
	vertical-align: top;
	padding-top: 5px;
}
form.free label.normal {
	float: none;
	padding: 0 8px 0 0;
	width: auto;
}
form.free label.checkbox {
	float: left;
	padding: 0 8px 0 3px;
	width: auto;
	font-size: 11px;;
}
form.free input,
form.free textarea,
form.free select  {
	font-size: 12px;
}
form.free input.text,
form.free textarea,
form.free select {
	width: 350px;
}
form.free input.short {
	width: 171px;
}
form.free input.veryshort {
	width: 40px;
}
form.free input.file {
	width: 250px;
	color: #727889;
	font-size: 11px;
}
form.free input.checkbox_left {
	float: left;
	padding: 0;
	margin: 4px 5px 0 0;
}


/* Tooltip */
.tool-tip {
	z-index: 13000;
	color: #000000;
	font-size: 1.1em;
	background-color: #F9F3BF;
	padding: 2px 6px 2px 6px;
	width: auto !important;
	width: 150px;
	max-width: 150px;
	border: 1px solid #CEC998;
}
.tool-title {
	font-weight: bold;
}
.tool-text {
	margin: 0px;
	line-height: 135%;
}

span.autocompleter-loading {
	background: transparent url(../../img/indicator/indicator_arrows_green.gif) no-repeat center center;
	padding: 0 10px 0 10px;
	line-height: 16px;
	font-size: 16px;
	position: relative;
	top: 1px;
}

textarea.ajax-loading, input.ajax-loading {
	background-image: url(../../img/indicator/indicator_arrows_green_19x19.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 1px;
	border: 1px solid #C7E2F1;
	border-top-color: #3D7BAD;
}

ul.autocompleter-choices {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #C7E2F1;
	border-bottom-color: #3D7BAD;
	background-color: white;
	text-align: left;
	z-index: 50;
}

ul.autocompleter-choices li {
	position: relative;
	padding: 0.1em 1.5em 0.1em 1em;
	cursor: pointer;
	font-weight: normal;
	font-size: 14px;
	list-style: none;
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 135%;
}

ul.autocompleter-choices li.autocompleter-selected {
	background-color: #444;
	color: #fff;
}

ul.autocompleter-choices span.autocompleter-queried {
	font-weight: bold;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
	color: #9FCFFF;
}

.items-per-page a.active {
	font-weight: bold;
}

/* Fancy Upload */
#upload-buttons .progress {
	background: transparent url(../../img/ajax/progress.gif) no-repeat center 0;
	margin-right: 0.5em;
	vertical-align: middle;
	position: relative;
}

#upload-buttons .progress-text {
	font-size: 0.9em;
	font-weight: bold;
	position: relative;
}
#upload-buttons .upload-title {
	margin: 2px 0 5px 0;
}
#upload-buttons .upload-title img {
	margin: 3px 3px 3px 0;
}
#upload-buttons a {
	padding: 2px 5px 2px 5px;
	color: #000000;
	text-decoration: none;
}
#upload-buttons a.hover {
	background-image: url(../../img/button/bg_button_blue.gif);
	border-color: #3C7FB1;
	color: #000000;
	text-decoration: none;
}

.upload-queue {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	width: 530px;
	position: relative;
}
.upload-queue li:hover {
	background-color: #DEE9EC;
}
#upload-queue li {
	position: relative;
	font-size: 11px;
	background: #F5F9FA url(../../img/famfamfam/drive_go.gif) no-repeat 5px 4px;
	padding: 5px 22px 6px 28px;
	list-style: none;
	border-bottom: 1px solid #fff;
	position: relative;
	height: auto !important;
	height: 12px;
	min-height: 12px;
}
#upload-queue li.validation-error {
	line-height: 135%;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fff;
	background: #fcc url(../../img/famfamfam/exclamation.gif) no-repeat 5px 5px;
}
#upload-queue li.validation-error em {
	font-style: normal;
	font-weight: bold;
}

#upload-queue li.file.file-uploading {
	background: #C1D2E2 url(../../img/ajax/ajax-indicator-16x16.gif) no-repeat 5px 5px;
}
#upload-queue li.file.file-success {
	background: #cfc url(../../img/famfamfam/accept.gif) no-repeat 5px 5px;
}
#upload-queue li.file.file-failed {
	background: #fcc url(../../img/famfamfam/exclamation.gif) no-repeat 5px 5px;
}

#upload-queue li.file .file-name {
	display: block;
	clear: left;
	line-height: 12px;
	height: 13px;
	font-weight: bold;
}
#upload-queue li.file .file-size {
	font-size: 0.9em;
	line-height: 12px;
	float: right;
	margin-top: 0;
	margin-right: 6px;
}
#upload-queue li.file .file-info {
	display: block;
	font-size: 0.9em;
	line-height: 10px;
	clear: left;
}
#upload-queue li.file .file-remove {
	position: absolute;
	height: 16px;
	width: 16px;
	text-decoration: none;
	border: none;
	overflow: hidden;
	background: transparent url(../../img/famfamfam/delete.gif) no-repeat 0 0;
	text-indent: -100em;
	right: 5px;
	top: 3px;
}
#upload-queue li.file.file-success .file-remove {
	display: none;
}


/* Backend Content Language Parser */
#be_lang {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
	height: 15px;
	line-height: 15px;
	position: relative;
}
#be_lang li {
	list-style: none;
	float: left;
	margin: 0 7px 0 0;
	padding: 0;
	height: 15px;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}
#be_lang li.be-lang-label {
	text-transform: none;
}
#be_lang a.be-lang {
	position: relative;
	float: left;
	width: 16px;
	text-indent: -1000em;
	height: 15px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 1px;
	overflow: hidden;
}
#be_lang a.be-disabled,
#be_lang a.be-lang {
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
#be_lang a.be-lang:hover,
#be_lang a.be-active {
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}


