html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    font-size: 14px;
    color: #333;
}

a {
    color: #30709b;
    cursor: pointer;
}

.text-blue {
    color: #30709b !important;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.tableheader {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 5px !important;
}

td label {
    margin-bottom: 0;
}

.tooltip {
    font-size: .75rem;
}

.h1, h1, .h2, h2 {
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: #4c4d5a;
}

legend {
    font-size: 1.125rem;
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text {
    padding: .25rem .5rem;
    font-size: .938rem;
}

.form-group {
    margin-bottom: .75rem;
}

.custom-file-label {
    overflow: hidden;
}

.input-group-text {
    padding: .5rem .75rem;
}

select.form-control-sm:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}

.col-form-label {
    font-weight: 600;
}

.font-weight-normal {
    font-weight: 400;
}

.modal-header h1, .modal-header h2, .card-header h1, .card-header h2 {
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
}

.modal-content {
    min-height: 800px;
}

.card, .card-header, .card-footer, .card-header:first-child {
    border-radius: 0;
}

.card .articlelist {
    border-bottom: 0;
}

.card .articlelist .list-group-item {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 0;
}

.card .list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.underline {
    border-bottom: 1px dotted #30709b;
    text-decoration: none;
}

.bg-grey {
    background-color: #F5F6F5;
}

.img-bg {
    background-color: #EDF0F6;
}

.backend_previewsmall_img img {
    width: 50px;
}

.dashboard .smalltext {
    font-size: 1rem;
}

.table td, .table th {
    border-top: 1px solid #ccc;
}

#container {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #f6f6f6;
    overflow: hidden;
}

#column-left, #content, #footer {
    transition: all 0.3s;
}

#column-left {
    width: 250px;
    height: 100%;
    overflow: auto;
    background-color: #242d37;
    position: fixed;
    top: 25px;
    left: -250px;
    padding-top: 60px;
    z-index: 10;
}

#column-left.active {
    left: 0;
}

#column-left + #content, #column-left + #content + #footer {
    position: relative;
    left: 0;
}

#content {
    padding: 20px 15px;
}

#header {
    position: fixed;
    width: 100%;
    min-height: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #d8d8d8;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px #ccc;
    z-index: 11;
}

#header .navbar-header {
    transition: 0.3s all;
    width: 236px;
}

#login #header .navbar-header {
    display: block !important;
    border-right: 0;
}

#login #button-menu {
    display: none;
}

#header .navbar-right {
    margin-right: 0;
    margin: 0 0 0 0;
    float: right;
}

#header .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#header .navbar-nav .nav-link {
    padding: 0 15px;
    line-height: 60px;
    cursor: pointer;
    color: #6D6D6D;
    font-size: .913em;
    text-decoration: none;
}

header .dropdown-menu {
    position: absolute !important;
    left: -1px;
    min-width: 15rem;
    padding: .5rem;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    border: 1px solid #dfdfdf;
}

header .dropdown-toggle::after {
    display: none;
}

#header .navbar-nav > .nav-item {
    border-left: 1px solid #eee;
}

#header .navbar-nav > .nav-item:hover,
#button-menu:hover {
    background-color: #eee;
}

#header .navbar-nav .nav-link.dropdown-toggle {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0;
}

.navbar-brand > img {
    display: block;
    height: 40px;
}


#content {
    padding-bottom: 20px;
    padding-top: 85px;
}

#footer {
    font-size: .875em
}

#button-menu {
    font-size: 24px;
    float: left;
    padding: 0 16px;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    color: #6D6D6D;
    border-right: 1px solid #eee;
}

.input-group .btn .fa,
.input-group .btn .far,
.input-group .btn .fab,
.input-group .btn .fas,
.btn .fa,
.btn .far,
.btn .fab,
.btn .fas {
    line-height: 1.5;
    width: 1.25em;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.btn-blue {
    color: #fff !important;
    background-color: #31709b;
    border-color: #31709b;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.btn-light {
    color: #212529;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}

.darken {
    background-color: #255e86;
    border-color: transparent;
}

.btn-blue .mt-1 {
    margin-top: .15rem !important;
}

.dropdown-menu {
    font-size: .938rem;
    border-radius: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.btn-calender:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
}

.nav .btn-sm {
    font-size: .75rem;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue.focus, .btn-blue:active, .btn-blue.active, .show > .dropdown-toggle {
    color: #fff;
    background-color: #3a4a5c;
    border-color: #3a4a5c;
}

.btn-success, .btn-danger {
    color: #fff !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.custom-select {
    padding: .275rem 1.75rem .275rem .75rem;
    line-height: 1.25;
}

.folder-open:before {
    content: "\f07c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.sitemap-open:before {
    content: "\f0e8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.trash:before {
    content: "\f2ed";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.insert:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.visible.btn-success,
.visible.btn-danger {
    min-width: 32px !important;
}

.visible.btn-success:before {
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
    line-height: 1.5;
}

.visible.btn-danger:before {
    content: "\f070";
    font-family: "Font Awesome 5 Free";
    line-height: 1.5;
}

.public.btn-success:before {
    content: "\f09c";
    font-family: "Font Awesome 5 Free";
    line-height: 1.5;
}

.public.btn-danger:before {
    content: "\f023";
    font-family: "Font Awesome 5 Free";
    line-height: 1.5;
}

.btn.fa.ml-1.btn-sm {
    width: 2.5em;
}

.ffolder.fa-caret-right {
    /*margin-right: 0.5rem;*/
    font-size: 1.5em;
    color: #8B8C8B;
}

.ffolder.fa-caret-down {
    /*margin-right: 0.5rem;*/
    font-size: 1.5em;
    color: #8B8C8B;
}

.ffolder.fa.fa-folder {
    color: #f4c017;
    margin-right: 5px;
}

.fa-folder-lock {
    background: url("folder-lock.svg");
    background-size: cover;
    height: 12px;
    width: 16px;
}

.fa-folder {
    color: #f4c017;
}


a.filein {
    display: block;
}

.text-right.here i.fa.fa-caret-right.fa-fw {
    color: rgba(0, 0, 0, 0)
}

.text-right.here a i.fa.fa-caret-right.fa-fw {
    color: #30709b;
}

/*.btn-group .visible {
  margin-top: 2px;
}*/

.status_message_info {
    margin-bottom: 1em;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}

.table-no-border, .table-no-border td, .table-no-border th {
    border: 0 !important;
}

.table td, .table th {
    vertical-align: middle;
}

.table-sm td, .table-sm th {
    padding: .15rem .3rem;
}

/*LOGIN FORM*/

#login .card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125rem;
    color: inherit;
}

#login .input-group .form-control {
    margin: 0;
    font-size: .875rem;
    color: #222;
}

#login_formular .fa {
    font-size: 13px;
}

/*SEARCH FORM*/

.searchbar {
    margin: 15px;
}

.searchbar .input-group-addon {
    padding: 0;
}

.searchbar .form-control {
    border: 1px solid #c6c9cc;
    font-size: .75rem;
}

/*MENU*/

#side-menu ul {
    color: #fff;
    padding: 0;
}

#side-menu a {
    color: #fff !important;
}

#side-menu > li > a {
    color: #b3cbdd;
    padding-left: 20px;
    border-bottom: 0 solid #585858;
}

#side-menu li a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #3b4a5b;
    padding: 8px 15px;
}

#side-menu li li a::before {
    content: "\f101";
    font-size: 13px;
    font-family: "Font Awesome 5 Free";
    margin-left: 30px;
    margin-right: 5px;
    transition: margin ease 0.5s;
    font-weight: 900;
}

#side-menu .fa {
    margin-right: 8px;
}

#side-menu li:hover {
    background-color: #3b4a5b;
}

#side-menu li ul {
    display: none;
}

#side-menu li ul li {
    padding-left: 0;
}

#side-menu li.active ul {
    display: block;
}

#side-menu .subnavinactive, #side-menu .subnavactive {
    border-bottom: 0;
}

#side-menu .subnavactive, #side-menu .active {
    background-color: #3b4a5b;
}

#side-menu li ul li:hover, #side-menu .active .subnavactive {
    background-color: #347199;
}

.navbar, .sidebar {
    background-color: #242d37;
}

.sidebar {
    max-width: 250px;
    border-top: 1px solid #3a4a5c;
}

/* Ajax artikelsort */

body.dragging, body.dragging * {
    cursor: move !important;
}

.graycolor {
    background: #eeeeee;
    width: 100%
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
    background: #eeeeee;
}

li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    background: #eeeeee;
}

li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}

.symbole {
    padding-right: 5px;
    text-align: center;
    width: 20px;
}

.handle {
    color: #868e96;
    cursor: move;
}

li.sortme {
    padding: 2px 2px;
    color: #000;
    list-style: none;
    margin: 0;
}

/*admin.ctptmplist.tmpl.php*/

.tmpl_menu img {
    vertical-align: middle;
    padding-right: 3px;
}

.tmpl_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 0;
}

.tmpl_menu ul li ul {
    padding-left: 25px;
    top: 0;
    padding-bottom: 5px;
}

.p_menu {
    display: none;
}

.ui-tooltip-content img {
    vertical-align: middle;
    height: 15px;
    padding-right: 10px;
}

.ui-tooltip-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 0;
}

.ui-tooltip-content ul li ul {
    padding-left: 25px;
    top: 0;
}

/*NEWSLETTER FORM*/

/*Artikel listing*/

.slist-0 {
    margin-left: 0;
}

.slist-1 {
    margin-left: 1.7rem;
}

.slist-2 {
    margin-left: 3.4rem;
}

.slist-3 {
    margin-left: 5.1rem;
}

.slist-4 {
    margin-left: 6.8rem;
}

.slist-5 {
    margin-left: 8.5rem;
}

.slist-6 {
    margin-left: 10.2rem;
}

.fslist-0 {
    margin-left: 0;
}

.fslist-1 {
    margin-left: 3.2rem;
}

.fslist-2 {
    margin-left: 4.9rem;
}

.fslist-3 {
    margin-left: 6.6rem;
}

.fslist-4 {
    margin-left: 8.3rem;
}

.fslist-5 {
    margin-left: 10.0rem;
}

.fslist-6 {
    margin-left: 11.7rem;
}

.alist-0 {
    margin-left: 1.2rem;
}

.alist-1 {
    margin-left: 1.2rem;
}

.alist-2 {
    margin-left: 2.4rem;
}

.alist-3 {
    margin-left: 3.6rem;
}

.alist-4 {
    margin-left: 4.8rem;
}

.alist-5 {
    margin-left: 6rem;
}

.aclist-0 {
    margin-left: 4.6rem;
}

.aclist-1 {
    margin-left: 3.3rem;
}

.aclist-2 {
    margin-left: 5.8rem;
}

.aclist-3 {
    margin-left: 7.0rem;
}

.aclist-4 {
    margin-left: 8.2rem;
}

.aclist-5 {
    margin-left: 9.4rem;
}

.admin-slist {
    margin-left: 1.7rem;
}

.input-group-addon.success,
.input-group-prepend .input-group-text.success,
.input-group-append .input-group-text.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.danger,
.input-group-prepend .input-group-text.danger,
.input-group-append .input-group-text.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.fa-file {
    color: #7D7E7D;
}

.fa-filef {
    color: #000000;
}

.fa-file-pdf {
    color: #E00000;
}

.fa-file-altf {
    color: #A36300;
}

.fa-file-excel {
    color: #009C00;
}

.fa-file-alt {
    color: #FF5800;
}

.fa-file-code {
    color: #8C0000;
}

.fa-file-image {
    color: #A70067;
}

.fa-file-archive {
    color: #FFEB00;
}

.fa-file-word {
    color: #0800A0;
}

.fa-file-audio {
    color: #0099FF;
}

.fa-file-video {
    color: #0065D2;
}

/* Creates a vertical nav starting at 768px (sm) */

@media (min-width: 768px) {
    #column-left {
        left: 0;
    }

    #column-left + #content, #column-left + #content + #footer {
        left: 0;
        margin-left: 250px;
    }

    .btn-menu {
        display: none;
    }

    .bootstrap-vertical-nav .collapse {
        display: block;
    }
}

@media (max-width: 768px) {
    #header .navbar-nav .nav-link {
        line-height: 45px;
    }

    #button-menu {
        line-height: 45px;
        height: 45px;
    }

    #column-left {
        top: 0;
        padding-top: 45px;
    }

    #content {
        padding-top: 65px;
    }

    header .dropdown-menu {
        position: fixed !important;
        top: 45px;
        left: 0;
        min-width: 100%;
    }
}

@media (max-width: 560px) {
    .navbar-right .fa {
        font-size: 20px;
        padding-top: 10px;
    }

    #basic-search .fa {
        font-size: 1em;
        padding-top: 0;
    }

    label.text-right {
        text-align: left !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}

.modal-body-iframe {
    padding: 0;
    margin: 1rem;
    position: relative;
    height: 1px;
}

.modal-body-iframe > .iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.nowrap {
    white-space: nowrap;
}
