ul#images {
	list-style: none;
	padding: 0;
	margin: 3px 0 0 0;
}
ul#images li {
	padding: 6px 4px 7px 4px;
	margin: 0 3px 0 0;
	background: url(../../img/lines/be_dotted_line.gif) repeat-x left top;
	list-style: none;
}
ul#images li:hover {
	background-color: #F3F5F8;
}
ul#images li.nomove, 
ul#images li.nomove:hover {
	background: #F3F5F8;
	border-top: 1px solid #4E789F;
	border-bottom: 1px solid #4E789F;
	margin-top: 10px;
}

ul#images input.imagename {
	width: 300px;
	color: #727889;
}
ul#images a {
	margin-left: 3px;
}

ul#images td.spacerrow {
	height: 3px;
}
td.right {
	text-align: right;
}

ul#images td.backend_preview_img {
	height:1px;
}
ul#images td.backend_preview_img img {
	margin: 5px 0 3px 0;
}

ul#images input.w300, ul#images textarea.w300 {
	width: 300px;
}

button span.btn_image_add {
	font-size: 11px;
	font-weight: bold;
	padding: 2px 4px 2px 22px;
	background: url(../../img/famfamfam/image_add.gif) no-repeat left center;
	float: left;
}

em.handle {
	float: right;
	width: 16px;
	height: 16px;
	background: transparent url(../../img/button/sort_up_down.gif) no-repeat left top;
	position: relative;
	cursor: move;
	right: 2px;
}