html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	padding: 0 10px;
	margin: 0;
	min-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 145%;
	color: #282F42;
	background-color: #c1d2e2;
	background: -moz-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #347199), color-stop(100%, #c1d2e2));
	background: -webkit-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -o-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -ms-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: linear-gradient(to bottom, #347199 0%, #c1d2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347199', endColorstr='#c1d2e2', GradientType=0);
	background-attachment: fixed;
}
a {
	color: #000000;
}
a:hover {
	color: #CC3300;
}
p, div, form, h1, h2, h3, h4, h5, h6, hr {
	margin: 0;
	padding: 0;
}
input, select {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 4px 0 4px 3px;
}
.button {
	margin-top: 10px;
}
p {
	font-size: 13px;
}
h1 {
	color: #347199;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: .25em 0 .75em 0;
}
td, .v10, .v11, .error {
	font-size: 13px;
}
.error {
	color: #CC3300;
}

.alert {
  padding: 10px 13px;
  margin-bottom: 12px;
  border: 1px solid #c1d2e2;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-success a {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-info a {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning, .alert-warning a {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger, .alert-danger a {
  color: #843534;
}
