html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 145%;
	color: #282F42;
	background: #C1D2E2;
	background: -moz-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #347199), color-stop(100%, #c1d2e2));
	background: -webkit-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -o-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -ms-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: linear-gradient(to bottom, #347199 0%, #c1d2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347199', endColorstr='#c1d2e2', GradientType=0 );
}
a {
	color: #000000;
}
a:hover {
	color: #CC3300;
}
p, div, form, h1, h2, h3, h4, h5, h6, hr {
	margin: 0;
	padding: 0;
}
input, select {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
	font-size: 13px;
}
h1 {
	color: #347199;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: .25em 0 .75em 0;
}
td, .v10, .v11, .error {
	font-size: 13px;
}
.error {
	color: #CC3300;
}