html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	padding: 0 10px;
	margin: 0;
	min-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 145%;
	color: #282F42;
	background-color: #c1d2e2;
	background: -moz-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #347199), color-stop(100%, #c1d2e2));
	background: -webkit-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -o-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: -ms-linear-gradient(top, #347199 0%, #c1d2e2 100%);
	background: linear-gradient(to bottom, #347199 0%, #c1d2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347199', endColorstr='#c1d2e2', GradientType=0);
	background-attachment: fixed;
}
a {
	color: #000000;
}
a:hover {
	color: #CC3300;
}
p, div, form, h1, h2, h3, h4, h5, h6, hr {
	margin: 0;
	padding: 0;
}
input, select {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 4px 0 4px 3px;
}
.button {
	margin-top: 10px;
}
p {
	font-size: 13px;
}
h1 {
	color: #347199;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: .25em 0 .75em 0;
}
td, .v10, .v11, .error {
	font-size: 13px;
}
.error {
	color: #CC3300;
}
hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #ecf0f1;
}
.alert {
  padding: 10px 13px;
  margin-bottom: 12px;
  border: 1px solid #c1d2e2;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.alert-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #15a589;
}
.alert-success a {
  color: #e6e6e6;
}
.alert-info {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #258cd1;
}
.alert-info a {
  color: #e6e6e6;
}
.alert-warning {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #e08e0b;
}
.alert-warning a {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
  font-weight: bold;
}
.alert-danger hr {
  border-top-color: #e43725;
}
.alert-danger a {
  color: #e6e6e6;
}
