

#channelSelect {
    background-color: #EBF2F4;
    margin: 0;
    padding: 5px;
    position: relative;
}

#channelSelect input {
    margin: 1px 5px 1px 2px;
    padding: 0;
}

#channelSelect label {
    font-size: 10px;
}

#codebox {
    background-color: #FFF;
    border: 1px solid #7599BB;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: 400;
    height: 200px;
    margin: 0;
    overflow: auto;
    padding: 5px;
}

#codebox p {
    border-bottom: 1px solid #E9E9E9;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: 400;
    margin: 0 0 2px;
    padding: 0 0 2px;
}

#filebrowser-uploader {
    background-color: #FFF;
    border-top: 1px solid #347199;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 6px;
    padding: 1em 1em 1em 2em;
    position: relative;
}

#filebrowser-uploader h1 {
    background: url(../../img/symbols/klapp_auf.gif) no-repeat left bottom;
    cursor: pointer;
    left: .35em;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
    text-indent: -999em;
    top: .75em;
    width: 16px;
}

#filebrowser-uploader p {
    margin: 0 0 .25em;
    position: relative;
    width: 100%;
}

#filebrowser-uploader p input {
    display: block;
    margin: 0;
    position: relative;
    width: 95%;
}

#filebrowser-uploader p label {
    display: block;
    margin-bottom: 2px;
    margin-left: 1px;
    position: relative;
}

#filebrowser-uploader p textarea {
    display: block;
    margin: 0;
    position: relative;
    width: 95%;
}

#filebrowser-uploader.closed {
    height: 1em;
}

#filebrowser-uploader.closed div {
    display: none;
}

#filebrowser-uploader.closed h1 {
    background: url(../../img/symbols/klapp_zu.gif) no-repeat left center;
    padding-left: 1em;
    text-indent: 0;
    top: .65em;
    width: auto;
}

#licenseExtensions {
    font-size: 12px;
    margin-top: 15px;
}

#licenseExtensions li {
    font-size: 12px;
    list-style: disc;
    margin: 0 0 6px;
}

#licenseExtensions ul {
    margin: 0 0 0 23px;
    padding: 0;
}

#statusMessage {
    background-color: #E3EED7;
    border-radius: 7px;
    color: #52970D;
    display: none;
    float: left;
    font-weight: 700;
    margin: 0;
    padding: 7px 10px 0 6px;
}

#statusMessage img {
    float: left;
    position: relative;
    top: 0;
}

#statusMessage p {
    margin: 1px 0 7px 23px;
    padding: 0;
}

#upload-trigger-send {
    margin-bottom: 0;
    margin-top: .5em;
}

.ajax-running {
    background: url(../../img/indicator/indicator_arrows_green.gif) no-repeat right center;
    padding-right: 18px;
    position: relative;
    white-space: nowrap;
}

.caption {
    color: #7f7f7f;
    display: block;
    font-size: 10px;
    margin-top: 3px;
}

.cf:after {
    clear: both;
    content: " ";
    display: table;
}

.cf:before {
    content: " ";
    display: table;
}

.chat {
    color: #55638A;
}

.chatlist {
    color: #406C94;
    font-size: 11px;
    white-space: nowrap;
}

.chatlist a {
    color: #406C94;
    font-size: 11px;
}

.chatlist a:hover {
    color: #C30;
    font-size: 11px;
}

.chatlist.wrap {
    white-space: normal;
}

.checkBoxFlow .left {
    padding: 1px 0 1px 3px;
}

.checkBoxFlow .right {
    padding: 1px 6px 1px 0;
}

.checkbox-list label,
.radio-list label {
    display: block;
    font-size: 12px !important;
}

.checkbox-list label.disabled,
.radio-list label.disabled {
    color: #ccc;
}

.checkbox-list label.disabled:hover,
.radio-list label.disabled:hover {
    background-color: transparent;
    color: #ccc;
    cursor: default;
    font-weight: 400;
}

.checkbox-list label:hover,
.radio-list label:hover {
    background-color: #F3F5F8;
    color: #2B6183;
    cursor: pointer;
    font-weight: 700;
}

.checkbox-list label.checkbox-list-item-regonly:after,
.radio-list label.radio-list-item-regonly:after {
    content: '\1F512';
    display: inline;
}

.cntOptGroup {
    color: #666;
    font-size: 9px;
    font-weight: 400;
    padding: 2px 2px 1px 4px;
}

.code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 13px;
}

.csv {
    background-color: #D7E9C7;
    border: 1px solid #5BAE00;
    color: #000;
    float: left;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    margin: 3px 0 0;
    padding: 2px 5px 3px;
}

.darkblue {
    color: #2B6183;
}

.darkblue a {
    color: #2B6183;
}

.darkblue a:hover {
    color: #2B6183;
}

.dir {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.dir a:hover {
    color: #000;
    text-decoration: underline;
}

.dir a:visited {
    color: #000;
    text-decoration: none;
}

.error {
    color: #C30;
}

.error1 {
    color: #C30;
}

.errorInputText {
    background: #FFECEC url(../../img/famfamfam/cancel.gif) no-repeat right;
    border: 1px solid #C30;
    color: #C30;
    padding: 2px 1px;
}

.f10 {
    font-size: 11px;
    font-weight: 400;
}

.f11 {
    font-size: 12px;
    font-weight: 400;
}

.f11b {
    font-size: 12px;
    font-weight: 700;
}

.filebrowser-form {
    display: none;
    margin: 1em 0 0;
    position: relative;
    width: 100%;
}

.greyed {
    color: #727889;
}

.icon {
    position: relative;
    top: 2px;
}

.icon1 {
    margin: 0 3px;
    position: relative;
    top: 3px;
}

.inactive {
    opacity: .5;
}

.inaktiv {
    color: #ADB2BE;
    font-size: 12px;
    text-decoration: none;
}

.inaktiv a {
    color: #ADB2BE;
    font-size: 12px;
    text-decoration: none;
}

.inaktiv a:hover {
    color: #727889;
    text-decoration: underline;
}

.incell-tabs {
    padding: 6px 0 4px;
    position: relative;
}

.incell-tabs a {
    border: 1px solid #9BBECA;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-right: -1px;
    padding: 3px 7px 2px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
}

.incell-tabs a img {
    border: 0;
    position: relative;
    top: 1px;
}

.incell-tabs a.active {
    background: #9BBECA;
}

.incell-tabs a.active:hover {
    background: #9BBECA;
}

.incell-tabs a:hover {
    background: #363E57;
    color: #fff;
    text-decoration: none;
}

.inputText input {
    font-size: 13px;
    width: 400px;
}

.inputText label {
    display: block;
    margin-bottom: 2px;
}

.items-per-page a.active {
    font-weight: 700;
}

.listingTable .actions {
    padding-right: 3px;
    text-align: right;
}

.listingTable .checkbox {
    text-align: center;
    width: 1%;
}

.listingTable .entry {
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
}

.msglist {
    color: #000;
    font-size: 11px;
    text-decoration: none;
}

.msglist a {
    color: #000;
    font-size: 11px;
    text-decoration: none;
}

.msglist a:hover {
    color: #C30;
    text-decoration: underline;
}

.msgreiter {
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

.msgreiter a {
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

.msgreiter a:hover {
    color: #FFF;
    text-decoration: underline;
}

.navtext {
    color: #406C94;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.navtext a {
    color: #406C94;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.navtext a:hover {
    color: #406C94;
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}

.nowrap label {
    white-space: nowrap;
}

.nowrap td {
    white-space: nowrap;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-ellipsis.home-article {
    font-weight: 700;
    max-width: 450px;
    width: 450px;
}

.overflow-ellipsis.home-cp {
    font-weight: 700;
    max-width: 320px;
    width: 320px;
}

.overflow-ellipsis.home-type {
    max-width: 130px;
    width: 130px;
}

.paginate .textinput {
    border: 1px solid #7599BB;
    color: #406C94;
    font-size: 10px;
    margin: 0;
    padding: 1px;
    text-align: center;
}

.paginate input {
    margin: 0;
    padding: 0;
}

.paginate label {
    margin: 0;
    padding: 0 4px 0 1px;
}

.paginate select.drop {
    border: 1px solid #7599BB;
    color: #406C94;
    margin: 0;
    padding: 0;
}

.popup {
    background: #FFEB99;
    border: thin solid #FC0;
    font-size: 9px;
    padding: 2px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.rowspacer7x7 {
    background: url(../../img/lines/be_dotted_line.gif) repeat-x left;
    padding: 7px 0;
}

.subnavactive {
    color: #305270;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.subnavactive a {
    color: #305270;
    font-size: 12px;
    text-decoration: none;
}

.subnavactive a:hover {
    color: #FF572D;
    text-decoration: underline;
}

.subnavinactive {
    color: #406C94;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.subnavinactive a {
    color: #406C94;
    font-size: 12px;
    text-decoration: none;
}

.subnavinactive a:hover {
    color: #FF572D;
    text-decoration: underline;
}

.tab-container {
    border: 0;
    width: 100%;
}

.d-block,
.tab-option-radio {
    display: block;
}

.tab-option-radio:first-child {
    margin-top: 2px;
}

.tdtop3 {
    padding-top: 3px;
    vertical-align: top;
}

.tdtop5 {
    padding-top: 5px;
    vertical-align: top;
}

.title {
    color: #6288AD;
    font-size: 14px;
    font-weight: 700;
}

.tool-title {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.uploader {
    margin: 0;
}

.useronline {
    color: #406C94;
    font-size: 11px;
}

.v09 {
    font-size: 11px;
}

.v10 {
    font-size: 12px;
}

.v11 {
    font-size: 12px;
}

.v12 {
    font-size: 12px;
}

.v13 {
    font-size: 13px;
}

.valid {
    color: #2CAD00;
}

.versioncheck {
    border: 1px solid #A0BBD6;
    margin-top: 15px;
    padding: 6px;
}

.versioncheck h1 {
    font-size: 13px;
    margin: 0;
}

.versioncheck p {
    margin: 5px 0 0;
    padding: 0;
}

.width100 {
    width: 100px;
}

.width350 {
    width: 350px;
}

.width375 {
    width: 375px;
}

.width400 {
    width: 400px;
}

.width50 {
    width: 50px;
}

img {
    border: 0;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

a {
    background-color: transparent;
    color: #325676;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #C30;
    text-decoration: underline;
}

abbr {
    border-bottom: 1px dotted currentcolor;
    cursor: help;
    display: inline-block;
    text-decoration: none;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

br.clear {
    clear: both;
}

div.checkbox-list {
    background-color: #fff;
    border: 1px solid #DEE9EC;
    padding: 2px;
}

div.checkbox-list.checkbox-list-darker {
    border-color: #ccc;
}

form {
    margin: 0;
    padding: 0;
}

form.formRightInput {
    float: right;
    margin: 0;
    padding: 0;
}

form.formRightInput input.smallInputField {
    font-size: 9px;
    font-weight: 400;
    padding: 0;
    text-align: center;
    width: 25px;
}

form.free .border_bottom {
    border-bottom: 1px solid #d9dee3;
}

form.free .border_top {
    border-top: 1px solid #d9dee3;
}

form.free .filled {
    background-color: #f3f5f8;
}

form.free .lang-select label {
    float: none;
    font-size: 12px;
    width: auto;
}

form.free .space_top {
    padding-top: 6px;
}

form.free > div {
    clear: both;
    margin: 0;
    padding: 0 0 6px;
}

form.free div.paragraph {
    clear: both;
    margin: 0;
    padding: 6px 0;
}

form.free input.checkbox_left {
    float: left;
    margin: 4px 5px 0 0;
    padding: 0;
}

form.free input.file {
    color: #727889;
    width: 250px;
}

form.free input.short {
    width: 171px;
}

form.free input.text {
    width: 350px;
}

form.free input.veryshort {
    width: 40px;
}

form.free label {
    color: #406C94;
    float: left;
    font-size: 10px;
    padding: 5px 8px 0 0;
    text-align: right;
    width: 130px;
}

form.free label.checkbox {
    float: left;
    font-size: 12px;
    padding: 0 8px 0 3px;
    width: auto;
}

form.free label.normal {
    float: none;
    padding: 0 8px 0 0;
    width: auto;
}

form.free p {
    clear: both;
    margin: 0;
    padding: 0 0 6px;
}

form.free p.bottom_break {
    border-bottom: 1px solid #d9dee3;
    margin: 0 0 6px;
    padding-bottom: 6px;
}

form.free p.break {
    border-bottom: 1px solid #d9dee3;
    border-top: 1px solid #d9dee3;
    margin: 0 0 6px;
    padding: 6px 0;
}

form.free p.footer {
    border-top: 1px solid #d9dee3;
    padding: 6px 0 10px 130px;
}

form.free p.important {
    font-weight: 700;
}

form.free p.morespace {
    padding-bottom: 12px;
}

form.free select {
    width: 350px;
}

form.free span.lang-select img {
    vertical-align: middle;
}

form.free td label {
    padding: 0 8px 0 0;
}

form.free td.top {
    padding-top: 5px;
    vertical-align: top;
}

form.free textarea {
    width: 350px;
}

h1 {
    color: #6288AD;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
}

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

label {
    white-space: nowrap;
}

label.checkbox {
    padding: 0 4px 0 2px;
}

li {
    font-size: 12px;
}

div.tab {
    background: transparent url(../../img/lines/be_dotted_line.gif) repeat-x left top;
    list-style: none;
    margin: 0;
    padding: 7px 0;
}

.d-inline-block,
div.tab .tab-delete {
    display: inline-block;
}

div.tab .toggle-item {
    background: transparent url(../../img/symbole/plus_close.gif) no-repeat center center;
    display: inline-block;
    height: 9px;
    position: relative;
    width: 20px;
}

div.tab em.handle {
    background: transparent url(../../img/button/sort_up_down.gif) no-repeat center center;
    cursor: move;
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    width: 20px;
}

div.tab.nomove {
    background: #F3F5F8;
    list-style: none;
}

div.tab.nomove:hover {
    background: #F3F5F8;
    list-style: none;
}

div.tab.tab-collapsed .tab-collapsable-row {
    display: none;
}

div.tab.tab-collapsed .toggle-item {
    background-image: url(../../img/symbole/plus_open.gif);
}

div.tab:hover {
    background-color: #F3F5F8;
}

select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

select.listrow option {
    border-bottom: 1px dotted #DDD;
    padding: 2px;
}

select.listrow option:hover {
    background-color: #DEF9AC;
}

select.optionTransfer {
    font-weight: 700;
    margin-bottom: 4px;
    width: 218px;
}

select.optionhover option:hover {
    background-color: #DEF9AC;
}

table.listing {
    border-spacing: 0;
    width: 100%;
}

table.listing .sort-asc:after {
    background: url(../../img/symbole/content_space_after.gif) no-repeat -3px 0;
    content: '';
    display: inline-block;
    height: 6px;
    position: relative;
    top: -1px;
    width: 7px;
}

table.listing .sort-desc:after {
    background: url(../../img/symbole/content_space_before.gif) no-repeat -3px 0;
    content: '';
    display: inline-block;
    height: 6px;
    position: relative;
    top: -1px;
    width: 7px;
}

table.listing .sort-off {
    font-weight: 400;
}

table.listing td {
    padding: 3px 2px 2px 4px;
}

table.listing td a {
    padding: 0 1px;
}

table.listing td.colfirst {
    background: url(../../img/famfamfam/page_white.gif) no-repeat 1px center;
    padding-left: 21px;
    white-space: nowrap;
}

table.listing td.collast {
    padding-bottom: 1px;
    padding-top: 4px;
    text-align: right;
    white-space: nowrap;
}

table.listing th {
    border-bottom: 1px solid #92a1af;
    border-top: 1px solid #92a1af;
    font-size: 10px;
    padding: 3px 2px 2px 4px;
    text-align: left;
}

table.listing th.colfirst {
    padding-left: 21px;
    white-space: nowrap;
}

table.listing tr.row td {
    border-bottom: 1px solid #d9dee3;
}

table.listing tr.row.alt {
    background-color: #f3f5f8;
}

table.listing tr.row.alt td {
    border-bottom: 1px solid #d9dee3;
}

table.listing tr.row:hover {
    background-color: #DEF9AC;
}

table.settings td {
    padding-bottom: 3px;
}

table.tdMorepace td {
    padding: 0 0 1px;
}

td.button_td img {
    margin: 0 2px 0 0;
}

td.checkbox-list {
    background-color: #fff;
    border: 1px solid #DEE9EC;
    padding: 2px;
}

td.checkbox-list.checkbox-list-darker {
    border-color: #ccc;
}

td.inlineCheckbox .checkbox {
    margin: 0;
    padding: 0;
}

td.optionTransfer {
    text-align: center;
    vertical-align: top;
    width: 4px;
}

td.right {
    text-align: right;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

.field-sizing-content {
    field-sizing: content;
}
.field-sizing-content-1, textarea[rows="1"] { min-block-size: 1lh; }
.field-sizing-content-2, textarea[rows="2"] { min-block-size: 2lh; }
.field-sizing-content-3, textarea[rows="3"] { min-block-size: 3lh; }
.field-sizing-content-4, textarea[rows="4"] { min-block-size: 4lh; }
.field-sizing-content-5, textarea[rows="5"] { min-block-size: 5lh; }
.field-sizing-content-6, textarea[rows="6"] { min-block-size: 6lh; }
.field-sizing-content-7, textarea[rows="7"] { min-block-size: 7lh; }
.field-sizing-content-8, textarea[rows="8"] { min-block-size: 8lh; }
.field-sizing-content-9, textarea[rows="9"] { min-block-size: 9lh; }
.field-sizing-content-10, textarea[rows="10"] { min-block-size: 10lh; }
.field-sizing-content-12, textarea[rows="12"] { min-block-size: 12lh; }
.field-sizing-content-15, textarea[rows="15"] { min-block-size: 15lh; }
.field-sizing-content-20, textarea[rows="20"] { min-block-size: 20lh; }

tr.inactive td {
    opacity: .5;
}

tr.listrow:hover {
    background-color: #DEF9AC;
}

ul {
    margin: 0 0 0 20px;
}

div#images {
    margin: 3px 0 0;
    padding: 0;
}

div#images a {
    margin-left: 3px;
}

div#images em.handle {
    background: transparent url(../../img/button/sort_up_down.gif) no-repeat left top;
    cursor: move;
    float: right;
    height: 16px;
    position: relative;
    right: 2px;
    width: 16px;
}

div#images input.imagename {
    color: #727889;
    width: 300px;
}

div#images > div {
    background: url(../../img/lines/be_dotted_line.gif) repeat-x left top;
    list-style: none;
    margin: 0 3px 0 0;
    padding: 6px 4px 7px;
}

div#images > div.nomove {
    background: #F3F5F8;
    border-bottom: 1px solid #4E789F;
    border-top: 1px solid #4E789F;
    margin-top: 10px;
}

div#images > div.nomove:hover {
    background: #F3F5F8;
    border-bottom: 1px solid #4E789F;
    border-top: 1px solid #4E789F;
    margin-top: 10px;
}

div#images > div:hover {
    background-color: #F3F5F8;
}

div#images td.backend_preview_img {
    height: 1px;
}

div#images td.backend_preview_img img {
    margin: 5px 0 3px;
}

div#tabs {
    margin: 0;
    padding: 0;
}

ul.checkbox-list,
ul.radio-list {
    list-style: none;
    margin: 0;
    padding: 2px;
}

ul.checkbox-list ul,
ul.radio-list ul {
    margin-left: 20px;
}

.scroll-anchor {
    scroll-margin-top: 120px;
}

