button.btn_add_tab {
	width: auto;
	white-space: nowrap;
	padding: 0 2px 0 2px;
	margin: 5px 0 0 0;
}
button.btn_add_tab span {
	padding: 2px 4px 2px 30px;
	background: url(../../img/famfamfam/tab_add.gif) no-repeat 5px center;
	float: left;
	font-size: 11px;
}
td.col1w {
	width: 76px;
	padding: 2px 0 2px 0;
}
ul#tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#tabs li.tab {
	margin: 0 0 0 0;
	padding: 7px 0 7px 0;
	list-style: none;
	background: transparent url(../../img/lines/be_dotted_line.gif) repeat-x left top;
}
ul#tabs li:hover {
	background-color: #F3F5F8;
}
ul#tabs li.nomove, 
ul#tabs li.nomove:hover {
	background: #F3F5F8;
}

em.handle {
	float: left;
	width: 16px;
	height: 16px;
	background: transparent url(../../img/button/sort_up_down.gif) no-repeat left top;
	position: relative;
	top: -2px;
	left: 5px;
	cursor: move;
}