[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[CODE]<pre class="brush: js; ruler: true;">
{CODE}
</pre>
<!-- CSS: {TEMPLATE}lib/syntaxhighlighter/styles/shCoreDefault.css -->
<!-- JS: {TEMPLATE}lib/syntaxhighlighter/shCore.js -->
<!-- JS: {TEMPLATE}lib/syntaxhighlighter/shBrushJScript.js -->
<!-- JS: SyntaxHighlighter.all(); -->
[/CODE]