<p style="background-color:#D7E3E2 "><strong>RSS feed ITEM <br></strong>{TITLE}, {LINK}, {DATE:FORMAT} (<a href="http://www.php.net/manual/en/function.date.php" target="_blank" style="text-decoration:underline">FORMAT&nbsp;=&nbsp;d.m.Y&nbsp;or&nbsp;H:i:s</a>)</p>

<!--ITEM_START//-->
<p style="margin:0;padding:0;margin-top:2px;margin-bottom:3px;">{DATE:d.m.y}: <a href="{LINK}" target="_blank">{TITLE}</a><br>{DESCRIPTION}</p>
<!--ITEM_END//-->



<p style="background-color:#D7E3E2 "><strong>RSS feed item divider</strong></p>

<!--DIVIDER_START//-->
<div style="margin:0;padding:0;border-top:1px dotted #B2B2B2;height:1px;"><img src="img/leer.gif" width="1" height="1" alt="" /></div>
<!--DIVIDER_END//-->


<p style="background-color:#D7E3E2 "><strong>RSS feed INFO<br></strong>{IMAGE}</p>

<!--FEEDINFO_START//-->
<div class="feedTitle">{TITLE}</div>
<p style="margin:0;padding:0;margin-bottom:6px;"><div style="float:left">{IMAGE}</div>{DESCRIPTION}<br style="clear:both" />
<!--FEEDINFO_END//-->



<p style="background-color:#D7E3E2 "><strong>RSS feed Complete<br></strong>{FEEDINFO}, {ITEMS}, {DIVIDER}</p>

<!--RSSFEED_START//-->
<div style="clear:both;">{FEEDINFO}{DIVIDER}{ITEMS}{DIVIDER}</div>
<!--RSSFEED_END//-->
