<!--ITEM_START//-->
	<li>
		<h3>[LINK]<a href="{LINK}" target="_blank">[/LINK]{TITLE}[LINK]</a>[/LINK]</h3>
		<p>{DATE:D, j F Y H:i lang=EN}[AUTHOR] by {AUTHOR}[/AUTHOR]</p>
		[DESCRIPTION]<p>{DESCRIPTION}</p>[/DESCRIPTION]
		[CONTENT]<!-- <p>{CONTENT}</p> -->[/CONTENT]
	</li>
<!--ITEM_END//-->

<!--DIVIDER_START//-->
<hr>
<!--DIVIDER_END//-->

<!--FEEDINFO_START//-->
	<h2>{TITLE}</h2>
[DESCRIPTION]
	<p>[IMAGE]<span style="float:left">{IMAGE}</span>[/IMAGE]
		{DESCRIPTION}
	</p>
[/DESCRIPTION][DESCRIPTION_ELSE]
[IMAGE]	<p>{IMAGE}</p>[/IMAGE]
[/DESCRIPTION_ELSE]
<!--FEEDINFO_END//-->

<!--RSSFEED_START//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
<div class="feed">
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
{FEEDINFO}
[ITEMS]
{DIVIDER}
<ul>
{ITEMS}
</ul>
{DIVIDER}
[/ITEMS]
</div>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!--RSSFEED_END//-->
