<!--IMAGE_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
; settings will overwrite CP settings
width		= 60
height		= 60
width_zoom	= 600
height_zoom	= 300
col			= 1
;space		= 10
zoom		= 1
lightbox	= 0
;nocaption	= 0
; 0 = no center, 1 = horizontal/vertical, 2 = horizontal, 3 = vertical
;center		= 2
crop		= 1
crop_zoom	= 1
;fx1			= 0
;fx2			= 0
;fx3			= 0
<!--IMAGE_SETTINGS_END//-->

<!--IMAGES_HEADER_START//-->

[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TEXT]{TEXT}[/TEXT]

<div class="lof-slidecontent lof-snleft">
	<div class="lof-main-outer">
  		<ul class="lof-main-wapper">
<!--IMAGES_HEADER_END//-->


<!--IMAGES_ENTRY_START//-->
			<!-- {IMAGE_NAME} -->
			<li>
				<img src="{IMAGE_REL}"[TITLE] title="{TITLE}"[/TITLE] height="{IMAGE_HEIGHT}" width="{IMAGE_WIDTH}" alt="[ALT]{ALT}[/ALT]" />
				<div class="lof-main-item-desc">
                [TITLE]<h3>[IMAGE_URL]<a href="{IMAGE_URL}"{IMAGE_TARGET}>[/IMAGE_URL]{TITLE}[IMAGE_URL]</a>[/IMAGE_URL]</h3>[/TITLE]
                {INFOTEXT}
				</div>
				<div class="lof-nav-item">
					<img src="{THUMB_REL}" alt="" />
                	[TITLE]<h3>{TITLE}</h3>[/TITLE]
                  	{CAPTION}
				</div>
			</li>
<!--IMAGES_ENTRY_END//-->


<!--IMAGES_ENTRY_SPACER_START//--><!--IMAGES_ENTRY_SPACER_END//-->


<!--IMAGES_ROW_SPACER_START//--><!--IMAGES_ROW_SPACER_END//-->


<!--IMAGES_FOOTER_START//-->
		</ul>  	
	</div>
</div>
<!-- CSS: {TEMPLATE}lib/lofslider/css/lofslider-style.css -->
<!-- CSS:
	/* Hide the nav item element by default - we use JS to move it at right place */
	.lof-nav-item {display:none;} 
	
	.lof-snleft  .lof-main-outer{
		float: right;
	}
	/* move the main wapper to the right side */
	.lof-snleft .lof-main-wapper {
		margin-left: auto;
		margin-right: inherit;
		clear: both;
		height: 300px;
	}
	/* move the navigator to the left  side */
	.lof-snleft .lof-navigator-outer {
		left: 0;
		top: 0;
		right: inherit;
	}
	ul.lof-main-wapper li {
		position: relative;	
	}
	.lof-snleft .lof-navigator .active {
		background: url({TEMPLATE}lib/lofslider/images/arrow-bg2.gif) center right no-repeat;
	}
	.lof-snleft .lof-navigator li div {
		margin-left: inherit;
		margin-right: 18px;
	}
	.lof-snleft .lof-navigator li.active div {
		margin-left: inherit;
		margin-right: 18px;
		background-image: url({TEMPLATE}lib/lofslider/images/grad-bg2.gif);
	}

-->
<!-- JS: dimensions.min --><!-- JS: easing.min --><!-- JS: mousewheel.min --><!-- JS: {TEMPLATE}lib/lofslider/lofslider.js -->
<!-- JS:

	// build lofslider navigational element
	jQuery(document).ready(function(){
	
		var lof_options = {
			interval: 3500,
			easing: 'easeInOutSine',
			duration: 1200,
			auto:true
		};
	
		// iterate all nav items "div.lof-nav-item
		$('ul.lof-main-wapper').each(function(){
		
			// append lof navigator wrapper and lof navigator element
			var nav_wrapper	= $('<div class="lof-navigator-outer"><'+'/div>').insertAfter( $(this).parent() );
			var nav			= $('<ul class="lof-navigator"><'+'/ul>').appendTo( nav_wrapper );
		
			// now iterate all and remove it from DOM the same step
			var navitems = $(this).find('li div.lof-nav-item').detach();
		
			navitems.each(function(){
				
				// append it to navigator element
				$('<li><div>' + $(this).html() + '<'+'/div><'+'/li>').appendTo(nav);
				
			});
			
			$(this).parent().parent().lofJSidernews(lof_options);

		});

	});

-->
<!--IMAGES_FOOTER_END//-->