<!--IMAGES_HEADER_START//-->
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]

<div style="margin:10px 0 10px 0;">
	<a href="#" id="move_left">&laquo; left</a> | <a href="#" id="move_right">right &raquo;</a>
</div>

<div id="slider_container_{ID}" class="slider">
<div class="inner">
<!--IMAGES_HEADER_END//-->

<!--IMAGES_ENTRY_START//-->
	[URL]<a href="{URL}"[URL_TARGET] target="{URL_TARGET}"[/URL_TARGET]>[/URL]{IMAGE}[URL]</a>[/URL]
<!--IMAGES_ENTRY_END//-->

<!--IMAGES_FOOTER_START//-->
</div>
</div>
<!-- CSS:
	div.slider {
		width: 320px;
		height: 80px;
		overflow: hidden;
		border: 1px solid #000000;
	}
	div.slider div.inner {
		width: 10000px;
	}
	div.slider div.inner a {
		display: block;
		float: left;
		padding: 2px;
		border: 1px solid #CCCCCC;
		margin: 0 0 0 5px;
	}
	div.slider div.inner a:hover {
		border: 3px solid #CC3300;
	}
	div.slider div.inner a img {
		width: 95px;
	}
-->
<!-- JS: 
	$(function() {
		var $container = $('#slider_container_{ID}');
		var scroll_x = 0;
		var step = 106;
		var slider_parent = $container.outerWidth();
		var slider_width = 0;

		$('div.slider a').each(function() {
			slider_width += $(this).outerWidth(true);
		});

		$('#move_right').on('click', function(e) {
			e.preventDefault();
			if (slider_width - slider_parent <= scroll_x) {
				scroll_x = scroll_x - step;
			}
			scroll_x = scroll_x + step;
			$container.animate({ scrollLeft: scroll_x }, 400);
		});

		$('#move_left').on('click', function(e) {
			e.preventDefault();
			scroll_x = scroll_x - step;
			if (scroll_x < 0) {
				scroll_x = 0;
			}
			$container.animate({ scrollLeft: scroll_x }, 400);
		});
	});
-->
<!--IMAGES_FOOTER_END//-->