<rule name="rule 1S" stopProcessing="true">
	<match url="^(.+)"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 2S" stopProcessing="true">
	<match url="^im\/(.+?)$"  />
	<action type="Rewrite" url="/./img/cmsimage.php?{R:1}"  />
</rule>
<rule name="rule 3S" stopProcessing="true">
	<match url="^dl\/([a-fA-Z0-9]+)\/(.*?)$"  />
	<action type="Rewrite" url="/./download.php?f={R:1}&amp;%{QUERY_STRING}"  />
</rule>
<rule name="rule 4S" stopProcessing="true">
	<match url="^([0-9]+)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.html$"  />
	<action type="Rewrite" url="/./index.php?id={R:1},{R:2},{R:3},{R:4},{R:5},{R:6}&amp;%{QUERY_STRING}"  />
</rule>
<rule name="rule 5S" stopProcessing="true">
	<match url="^(.+)\.html$"  />
	<action type="Rewrite" url="/./index.php?{R:1}&amp;%{QUERY_STRING}"  />
</rule>
<rule name="rule 6S">
	<match url="^(.+)/?$"  />
	<action type="Rewrite" url="/./index.php?{R:1}&amp;%{QUERY_STRING}"  />
</rule>
