[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
<div class="recipe">	[TITLE]
	<h3>{TITLE}</h3>[/TITLE]	[SUBTITLE]
	<h4>{SUBTITLE}</h4>[/SUBTITLE]	[INGREDIENTS]
	<p>{INGREDIENTS}</p>[/INGREDIENTS]	[INGREDIENTSTABLE]
	<p>{INGREDIENTSTABLE}</p>[/INGREDIENTSTABLE]	[CALORIES]
	<p>{CALORIES} kJ / {KCAL} kcal[CALORIESADD] ({CALORIESADD})[/CALORIESADD]</p>[/CALORIES]	[PREPARATION]
	<p>{PREPARATION}</p>[/PREPARATION]	[TIME]
	<div class="time">{TIME} @@min@@[TIMEADD], {TIMEADD}[/TIMEADD]</div>[/TIME]
	[SEVERITY]<div class="severity">@@Difficulty@@: {SEVERITY}</div>[/SEVERITY]	[CAT]
	<div class="cat">{CAT}</div>[/CAT]
</div>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
