<div class="recipe">	[TITLE]
	<h3>{TITLE}</h3>[/TITLE]	[SUBTITLE]
	<h4>{SUBTITLE}</h4>[/SUBTITLE]	[INGREDIENTS]
	<p>{INGREDIENTS}</p>[/INGREDIENTS]	[INGREDIENTSTABLE]
	<p>{INGREDIENTSTABLE}</p>[/INGREDIENTSTABLE]	[CALORIES]
	<p>{CALORIES} kJ / {KCAL} kcal[CALORIESADD] ({CALORIESADD})[/CALORIESADD]</p>[/CALORIES]	[PREPARATION]
	<p>{PREPARATION}</p>[/PREPARATION]	[TIME]
	<div class="time">{TIME} @@min@@[TIMEADD], {TIMEADD}[/TIMEADD]</div>[/TIME]
	[SEVERITY]<div class="severity">@@Difficulty@@: {SEVERITY}</div>[/SEVERITY]	[CAT]
	<div class="cat">{CAT}</div>[/CAT]
</div>
