<div class="recipe">	[TITLE]
	<h3>{TITLE}</h3>[/TITLE]	[SUBTITLE]
	<h4>{SUBTITLE}</h4>[/SUBTITLE]	[INGREDIENTS]
	<p>{INGREDIENTS}</p>[/INGREDIENTS]	[INGREDIENTSTABLE]
	<p>{INGREDIENTSTABLE}</p>[/INGREDIENTSTABLE]	[CALORIES]
	<p>{CALORIES} kJ / {KCAL} kcal[CALORIESADD] ({CALORIESADD})[/CALORIESADD]</p>[/CALORIES]	[PREPARATION]
	<p>{PREPARATION}</p>[/PREPARATION]	[TIME]
	<div class="time">{TIME} Minuten[TIMEADD], {TIMEADD}[/TIMEADD]</div>[/TIME]
	<div class="severity"><img src="img/severity_{SEVERITY}.gif" alt="severity: {SEVERITY}" /></div>	[CAT]
	<div class="cat">{CAT}</div>[/CAT]
</div>
