includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - ../
    excludePaths:
        - ../include/vendor/*
        - ../node_modules/*
        - ../.phpstan/*
        - ../tests/*
    bootstrapFiles:
        - phpstan-bootstrap.php
    tmpDir: cache
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            message: '#^Variable \$BL might not be defined\.$#'
            identifier: variable.undefined
        -
            message: '#^Variable \$BLM might not be defined\.$#'
            identifier: variable.undefined


