[TITLE]<h1 class="display-5 mb-3">{TITLE}</h1>[/TITLE]
<!--CP_PAGINATE_START//-->
<nav aria-label="Article pagination" class="my-4">
    <ul class="pagination">
        [CP_PAGINATE_PREV]<li class="page-item"><a href="{CP_PAGINATE_PREV}" class="page-link paginate-prev" aria-label="Previous">&laquo; Previous</a></li>[/CP_PAGINATE_PREV]
        [CP_PAGINATE]{CP_PAGINATE}[/CP_PAGINATE]
        [CP_PAGINATE_NEXT]<li class="page-item"><a href="{CP_PAGINATE_NEXT}" class="page-link paginate-next" aria-label="Next">Next &raquo;</a></li>[/CP_PAGINATE_NEXT]
    </ul>
</nav>
[CP_PAGINATE_MENU]
    {CP_PAGINATE_MENU}
[/CP_PAGINATE_MENU]
<!--CP_PAGINATE_END//-->
