[SPACE]<hr />[/SPACE]
<table cellspacing="0" cellpadding="0" border="0" width="100%" summary="">
	<tr>
		<td width="150" valign="top">
			[IMAGE]<div><a href="{ARTICLELINK}">{IMAGE}</a></div>[/IMAGE]
			[CAPTION]<div align="center">{CAPTION}</div>[/CAPTION]
		</td>
		<td width="10"><img src="img/leer.gif" border="0" width="10" height="1" alt="" /></td>
		<td width="98%" valign="top">
			[TITLE]<h1>{TITLE}</h1>[/TITLE]
			[SUB]<h2>{SUB}</h3>[/SUB]
			[SUMMARY]<div><strong>{DATE:F lang=DE}</strong> {SUMMARY}</div>[/SUMMARY]
			[MORE]<p><a href="{ARTICLELINK}"{TARGET}>{MORE}</a></p>[/MORE]
		</td>
	</tr>
</table>