<!--TEASER_HEAD_START//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
<ul{LINK_ARTICLE_CLASS}>
<!--TEASER_HEAD_END//-->

<!--TEASER_ENTRY_START//-->
	<li class="col-{COLUMN} row-[PRIO] prio-{PRIO}[/PRIO]">
		[ARTICLELINK]<a href="{ARTICLELINK}">[/ARTICLELINK][MENUTITLE]{MENUTITLE}[/MENUTITLE][MENUTITLE_ELSE]{TITLE}[/MENUTITLE_ELSE][ARTICLELINK]</a>[/ARTICLELINK]
		{DATE:d. F Y lang=EN} 
		[SUBTITLE]<b>{SUBTITLE}</b>[/SUBTITLE]
		[SUMMARY]<br />{SUMMARY}[/SUMMARY][IMAGE]<br />
		{IMAGE}<!-- {IMAGE_NAME} -->[CAPTION]<br />
		{CAPTION}[/CAPTION][/IMAGE]
	</li>
<!--TEASER_ENTRY_END//-->

<!--TEASER_ENTRY_SPACER_START//--><!--TEASER_ENTRY_SPACER_END//-->

<!--TEASER_ROW_SPACER_START//--><!--TEASER_ROW_SPACER_END//-->

<!--TEASER_FOOTER_START//-->
</ul>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!--TEASER_FOOTER_END//-->

<!--TEASER_COLUMN_OVERWRITE_START//--><!--TEASER_COLUMN_OVERWRITE_END//-->