<!--TEASER_HEAD_START//-->
<div style="margin:15px 0 15px 0;background-color:#E6E9F0;padding:7px;width:250px;">
<!--TEASER_HEAD_END//-->

<!--TEASER_ENTRY_START//-->
	<div[PRIO] class="prio{PRIO}"[/PRIO]>
		<h3><a href="{ARTICLELINK}">{TITLE} &raquo;</a></h3>
		[IMAGE]<div style="float:left; margin:2px 5px 2px 0">{IMAGE}[CAPTION]<p>{CAPTION}</p>[/CAPTION]</div>[/IMAGE]
		<div>{DATE:d/m/y lang=EN}[SUBTITLE] <b>{SUBTITLE}.</b>[/SUBTITLE]
		{SUMMARY} <a href="{ARTICLELINK}">&raquo;</a></div>
	</div>[IMAGE]
	<!--
	Thumbnail {THUMB_NAME}
	Relative  {THUMB_REL}
	Absolute  {THUMB_ABS}
	WxH       {THUMB_WIDTH}px x {THUMB_HEIGHT}px
	//-->[/IMAGE]
<!--TEASER_ENTRY_END//-->

<!--TEASER_ENTRY_SPACER_START//-->
	<!-- next teaser please -->
<!--TEASER_ENTRY_SPACER_END//-->

<!--TEASER_ROW_SPACER_START//-->
	<hr style="margin:7px 0 7px 0;padding:0;height:0;border:0;border-bottom:1px dotted #CCCCCC;clear:both" />
<!--TEASER_ROW_SPACER_END//-->

<!--TEASER_FOOTER_START//-->
	<div style="clear:both;height:1px"></div>
</div>
<!--TEASER_FOOTER_END//-->