/* module calendar backend CSS */

table.ads {

	margin: 8px 0 3px 0;

}

table.ads tr {


	
}
table.ads tr.adsAltRow {

	background-color: #F3F5F8;
	
}
table.ads tr:hover {
	background-color: #FFCC33;
}

table.ads th {

	padding: 2px 0 3px 0;
	border-bottom: 1px solid #92A1AF;
	border-top: 1px solid #92A1AF;
	text-align: left;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;

}

table.ads th.listDate {
	text-align: center;
	padding: 2px 3px 3px 3px;
}
table.ads td.listDate {
	padding: 3px;
	text-align: center;
	width: 50px;
}
table.ads th.listFormat {
	padding: 2px 5px 3px 3px;
}
table.ads td.listFormat {
	padding: 3px 5px 3px 3px;
}

input.disabled {
	background-color:#F3F5F8;
	border:1px inset #F3F5F8;
	padding: 1px 3px 1px 3px;
	color: #666666;
}

input.width40 {
	width:	40px;
}

input.width45 {
	width:	45px;
}

input.width60 {
	width:	60px;
}

input.width77 {
	width:	77px;
}

td.colorfield {
	border: 1px solid #BBBBBB;
	background-color: #F3F5F8;
}

input.width80 {
	width:	80px;
}

input.width100 {
	width:	100px;
}

input.width250 {
	width:	250px;
}

input.width400, textarea.width400 {
	width:	400px;
}

td.upload input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 220px;
}

td.newimage {
	padding: 0 0 0 23px;
	background: url(../../../../img/famfamfam/image_add.gif) no-repeat 4px;
}
td.newflash {
	padding: 0 0 0 23px;
	background: url(../../../../img/famfamfam/film_add.gif) no-repeat 4px;
}
td.newcss {
	padding: 0 0 0 23px;
	background: url(../../../../img/famfamfam/css_add.gif) no-repeat 4px;
}
td.warning {
	padding: 0 20px 15px 20px;
	background: url(../../../../img/famfamfam/icon_alert.gif) no-repeat 0 -1px;
	color: #CC3300;
	font-weight: bold;
}
td.warning1 {
	padding: 5px 20px 5px 20px;
	background: url(../../../../img/famfamfam/icon_alert.gif) no-repeat 0 4px;
	color: #CC3300;
}
input.rt {
	padding: 2px;
	margin-top: 3px;
	font-weight: bold;
	line-height: 100%;
	font-size: 12px;
	border:1px inset #F3F5F8;
	background-color: #F7F7F7;
}
textarea.code {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}