<!--IMAGETEXT_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
class_top_left				= imgtxt-top-left
class_top_center			= imgtxt-top-center
class_top_right				= imgtxt-top-right
class_bottom_left			= imgtxt-bottom-left
class_bottom_center			= imgtxt-bottom-center
class_bottom_right			= imgtxt-bottom-right
class_float_left			= imgtxt-left
class_float_right			= imgtxt-right
class_column_left			= imgtxt-column-left
class_column_right			= imgtxt-column-right
class_column_left_image		= col-sm-6
class_column_right_image	= col-sm-6
class_column_left_text		= col-sm-6
class_column_right_text		= col-sm-6
; width						= 300
; height					= 200
; zoom						= 1
; crop						= 1
; lightbox					= 1
; nocaption					= 0
<!--IMAGETEXT_SETTINGS_END//-->
[TITLE]	<h2>{TITLE}</h2>[/TITLE]
[SUBTITLE]<h3>{SUBTITLE}</h3>[/SUBTITLE]
<div class="row" id="imgtext-id-{ID}">
[IMAGETEXT]{IMAGETEXT}[/IMAGETEXT]
</div>
<!-- Sample CSS -->
<!-- CSS:
-->