<div>
	[TITLE]<h1>{TITLE}</h1>[/TITLE]
	[SUB]<h2>{SUB}</h2>[/SUB]
	<div>
		[IMAGE]<span style="float:left;margin:2px 10px 8px 0;">{IMAGE}[CAPTION]<br>{SPACER:1x3}<br />{CAPTION}[/CAPTION]</span> [/IMAGE]
		<strong>{DATE:Y-m-d:EN}</strong> 
		{SUMMARY}
	</div>
</div>