html, body, div {
	margin: 0;
	padding: 0;
}
body {
	color: #282F42;
	background-image: url(../../img/backend/background.jpg);
	background-repeat: repeat-x;
	background-color: #C1D2E2;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 140%;
}
form {
	padding: 0;
	margin: 5px 0 2px 0;
}
p {
	margin: 0;
	padding: 5px 0 10px 0;
}
.v09 {
	font-size: 9px;
	font-weight: normal;
}
.v10 {
	font-size: 10px;
	font-weight: normal;
}
.v11 {
	font-size: 11px;
	font-weight: normal;
}
.v12 {
	font-size: 12px;
	font-weight: normal;
}
.v13 {
	font-size: 13px;
	font-weight: normal;
}
.v14 {
	font-size: 14px;
	font-weight: normal;
}
.v09b {
	font-size: 9px;
	font-weight: bold;
}
.v10b {
	font-size: 10px;
	font-weight: bold;
}
.v11b {
	font-size: 11px;
	font-weight: bold;
}
.v12b {
	font-size: 12px;
	font-weight: bold;
}
.v13b {
	font-size: 13px;
	font-weight: bold;
}
.v14b {
	font-size: 14px;
	font-weight: bold;
}
h1 {
	color: #4B6F92;
	font-weight: normal;
	font-size: 14pt;
	margin: 15px 0 5px 0;
	padding: 0;
	font-family: "Terbuchet MS", Trebuchet, Verdana, Arial, sans-serif;
	line-height: 95%;
}
.title {
	color: #4B6F92;
	font-weight: bold;
}
.error {
	color: #CC3300;
	font-weight: normal;
}
.chatlist, .chatlist a {
	color: #406C94;
	font-size: 11px;
}
.chatlist a:hover {
	color: #FF572D;
}
a, a:link, a:visited, a:active {
	text-decoration: none;
	background-color: transparent;
	color: #406C94
}
a:hover {
	color: #FF572D;
	text-decoration: underline;
	background-color: transparent;
}
.versioncheck {
	padding: 6px;
	border: 1px solid #A0BBD6;
	margin: 0 0 15px 0;
}
.versioncheck p {
	padding: 0;
	margin: 5px 0 0 0;
}
.versioncheck h1 {
	font-size: 13px;
	margin: 0;
}
.navtext, .navtext a:link, .navtext a:visited, .navtext a:active, .navtext a:hover {
	color: #406C94;
	font-weight: normal;
	font-size: 11px
}
.navtext a:hover {
	text-decoration: underline;
}
.navtexta, .navtexta a:link, .navtexta a:visited, .navtexta a:active, .navtexta a:hover {
	color: #305270;
	font-weight: normal;
	font-size: 11px
}
.navtexta a:hover {
	text-decoration: underline;
}
hr {
	border: 0;
	height: 0;
	border-bottom: 1px dotted #7599BB;
	margin: 10px 0 15px 0;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#license {
	height: 300px;
	overflow: auto;
	border: 1px solid #7599BB;
	margin: 10px 0 20px 0;
	padding: 10px;
}
.errorBox {
	height: 300px;
	overflow: auto;
	border: 1px solid #7599BB;
	margin: 10px 0 20px 0;
	padding: 10px;
	font-family: "Courier New", Courier, mono;
	font-weight: normal;
	color: #FF572D;
}
#sqlqueries {
	height: 300px;
	border: 1px solid #7599BB;
	margin: 0 0 20px 0;
	padding: 0;
	width: 735px;
}
#license p {
	font-family: "Courier New", Courier, mono;
}
p.code {
	font-family: "Courier New", Courier, mono;
	color: #009900;
	padding-left: 20px;
}
#warning {
	color: #FFFFFF;
	background-color: #CC3300;
	padding: 5px;
}
#warning p {
	font-size: 11px;
	padding: 0;
	margin: 0;
}
.sqlselect {
	border-left: 1px dotted #7599BB;
	border-bottom: 1px dotted #7599BB;
}
.sqlselect td {
	border-top: 1px dotted #7599BB;
	border-right: 1px dotted #7599BB;
	padding: 4px;
}
.icon {
	position: relative;
	top: 2px;
}
.icon1 {
	position: relative;
	top: 3px;
	margin: 0 3px 0 3px;
}
ol, ul {
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
}
ol li, ul li {
	margin: 0;
	padding: 0;
}
