html, body, div {
	margin: 0;
	padding: 0;
}
body {
	color: #282F42;
	background: #C1D2E2 url(../../img/backend/background.jpg) repeat-x;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 140%;
}
.nowrap {
	white-space: nowrap;
}
h4 {
	margin: .5em 0;
}
form {
	padding: 0;
	margin: 1em 0;
}
p {
	margin: .5em 0;
}
.v09 {
	font-size: 11px;
	font-weight: normal;
}
.v10 {
	font-size: 13px;
	font-weight: normal;
}
.v11 {
	font-size: 14px;
	font-weight: normal;
}
.v12 {
	font-size: 16px;
	font-weight: normal;
}
.v12b {
	font-size: 16px;
	font-weight: bold;
}
h1 {
	color: #4B6F92;
	font-weight: normal;
	font-size: 24px;
	margin: 15px 0 5px 0;
	padding: 0;
}
.title {
	color: #4B6F92;
	font-weight: bold;
}
.error {
	color: #CC3300;
}
.chatlist, .chatlist a {
	color: #406C94;
	font-size: 14px;
}
.chatlist a:hover {
	color: #FF572D;
}
a, a:link, a:visited, a:active {
	text-decoration: none;
	background-color: transparent;
	color: #406C94
}
a:hover {
	color: #FF572D;
	text-decoration: underline;
	background-color: transparent;
}
.versioncheck p {
	padding: 0;
	margin: 5px 0 0 0;
}
.versioncheck h1 {
	font-size: 16px;
	margin: 0;
}
.navtext, .navtext a:link, .navtext a:visited, .navtext a:active, .navtext a:hover {
	color: #406C94;
	font-weight: normal;
	font-size: 13px
}
.navtext a:hover {
	text-decoration: underline;
}
.navtexta, .navtexta a:link, .navtexta a:visited, .navtexta a:active, .navtexta a:hover {
	color: #305270;
	font-weight: normal;
	font-size: 13px
}
.navtexta a:hover {
	text-decoration: underline;
}
hr {
	border: 0;
	height: 0;
	border-bottom: 1px dotted #7599BB;
	margin: 10px 0 15px 0;
}
input, select, textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
}
#license {
	height: 300px;
	overflow: auto;
	border: 1px solid #7599BB;
	margin: 10px 0 20px 0;
	padding: 10px;
}
.errorBox {
	height: 300px;
	overflow: auto;
	border: 1px solid #7599BB;
	margin: 10px 0 20px 0;
	padding: 10px;
	font-family: Menlo, "Courier New", Courier, monospace;
	font-weight: normal;
	color: #FF572D;
}
#sqlqueries {
	height: 500px;
	border: 1px solid #7599BB;
	margin: 0 0 20px 0;
	padding: 0;
	width: 735px;
}
#license p {
	font-family: Menlo, "Courier New", Courier, monospace;
	font-size: 14px;
}
p.code {
	font-family: Menlo, "Courier New", Courier, monospace;
	color: #009900;
	padding-left: 20px;
}
#warning {
	color: #FFFFFF;
	background-color: #CC3300;
	padding: 10px;
}
#warning p {
	padding: 0;
	margin: 0;
}
.sqlselect {
	border-left: 1px dotted #7599BB;
	border-bottom: 1px dotted #7599BB;
}
.sqlselect td {
	border-top: 1px dotted #7599BB;
	border-right: 1px dotted #7599BB;
	padding: 4px;
}
.icon {
	position: relative;
	top: 2px;
}
.icon1 {
	position: relative;
	top: 3px;
	margin: 0 3px 0 3px;
}
ol, ul {
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
}
ol li, ul li {
	margin: 0;
	padding: 0;
}

input[type="submit"],
input[type="reset"],
button {
	font-size: 18px;
}
input[type="text"],
input[type="password"] {
	margin: 1px 3px 1px 0;
}