<!--NEWSLETTER_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
title		= "Full Newsletter Template Title"
description	= "The newsletter for bla bla bla..."
<!--NEWSLETTER_SETTINGS_END//-->

<!--HTML_START//-->
<hr />
<h1>sample newsletter template</h1>
{CONTENT}
<hr />
<!--HTML_END//-->

<!--TEXT_START//-->
Sample newsletter template
--------------------------

{CONTENT}

--
signature
<!--TEXT_END//-->
