[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
[TITLE]<h3 class="h4 mb-2">{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4 class="h6 text-muted mb-3">{SUBTITLE}</h4>[/SUBTITLE]
[BULLETLIST]
    <ul class="list-unstyled mb-3">{BULLETLIST}
<!--BULLETLIST_ITEM_START//-->
        <li class="py-1"><i class="fas fa-check text-primary me-2"></i>{BULLETLIST_ITEM}</li>
<!--BULLETLIST_ITEM_END//-->
    </ul>
[/BULLETLIST]
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
