
<div class="faq">
	<!-- hidden title/subtitle [TITLE]
	<h3>{TITLE}</h3>[/TITLE][SUBTITLE]
	<h4>{SUBTITLE}</h4>[/SUBTITLE] 
	-->
	[FAQ_QUESTION]<h3 id="faq_id{FAQ_ID}">{FAQ_QUESTION}</h3>[/FAQ_QUESTION]
	[FAQ_ANSWER]<div class="faq-answer" id="faqAnswer_id{FAQ_ID}">
	[FAQ_IMAGE]<div class="faq-image">
	{FAQ_IMAGE}[FAQ_CAPTION]
	<div class="faq-caption">{FAQ_CAPTION}</div>[/FAQ_CAPTION]
	</div>[/FAQ_IMAGE]
	<p>{FAQ_ANSWER}</p></div>[/FAQ_ANSWER]
</div>
