a.fe-link {
	float: left;
	width: 20px;
	height: 16px;
	padding: 0;
	margin: 0;
	color: #000000;
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
}
a.fe-link span {
	display: none;
}
a.fe-link:hover {
	text-decoration: none;
	background-color: transparent;
}
a.fe-link.fe-article {
	background-image: url(../../../img/famfamfam/silk_icons_gif/page_go.gif);
}
a.fe-link.fe-summary {
	background-image: url(../../../img/famfamfam/silk_icons_gif/page_edit.gif);
}
a.fe-link.fe-CP {
	background-image: url(../../../img/famfamfam/silk_icons_gif/page_white_edit.gif);
}
a.fe-link.fe-module {
	background-image: url(../../../img/famfamfam/silk_icons_gif/plugin_go.gif);
}
#fe-link {
	position: absolute;
	right: 3px;
	top: 3px;
	color: #FFFFFF;
	border: 1px solid #003300;
	padding: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;
	z-index: 10000;
}
#fe-link.enabled {
	background-image: url(../../../img/famfamfam/silk_icons_gif/pencil_delete.gif);
	background-color: #E1FFC4;
}
#fe-link.disabled {
	background-image: url(../../../img/famfamfam/silk_icons_gif/pencil_add.gif);
	background-color: #FFDDDD;
}