/* 

	Sample CSS for use in combination with {NAV_LIST_UL:HCSS}
	
	CSS for show/hide flyout menu is rendered dynamically in the style section
	Basis of this CSS is taken from http://www.alistapart.com/articles/horizdropdowns/

*/

.hcss_menu {
	font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

.hcss_menu em {
	font-style: normal;
	}
	
.hcss_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: 0;
}
	
.hcss_menu ul li {
	float: left;
	position: relative;
	width: 130px; /* Width of Menu Items */
	height: 23px;
	}
	
.hcss_menu li ul {
	position: absolute;
	left: 0; /* Set 1px less than menu width */
	top: 23px;
	display: none;
	border: 0;
	}
	
.hcss_menu li ul li ul {
	left: 130px;
	top: 0;
	}
	
/* Styles for Menu Items */

.hcss_menu ul li a, .hcss_menu ul li a:link, .hcss_menu ul li a:visited, .hcss_menu ul li a:active {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	background: #708090; /* IE6 Bug */
	padding: 5px;
	border: 0;
	text-align: center;
	}

.hcss_menu ul li a:hover {
	background: #475661;
	color: Orange;
}

.hcss_menu ul li:hover a {
	background: #475661;
	color: Orange;
}

.hcss_menu ul li ul li a {
	text-align: left;
	background: #8B99A7;
	padding-left: 7px;
}
.hcss_menu ul li ul li a:hover {
	background: #708090;
}
.hcss_menu ul li:hover ul li a {
	text-align: left;
	background: #8B99A7;
	color: #FFFFFF;
}
	
/* Holly Hack. IE Requirement \*/
* html .hcss_menu ul li { float: left; height: 1%; }
* html .hcss_menu ul li a { height: 1%; }
/* End */
