<!--CUSTOM_SETTINGS_START//-->
; Bootstrap 5 Custom Accordion
text_render    = html
<!--CUSTOM_SETTINGS_END//-->

<!--CUSTOM_HEADER_START//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]

[TITLE]<h3 class="h4 mb-2">{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4 class="h6 text-muted mb-3">{SUBTITLE}</h4>[/SUBTITLE]
[TEXT]<div class="mb-4">{TEXT}</div>[/TEXT]

<div class="accordion accordion-flush mb-4" id="customAccordion{ID}">
<!--CUSTOM_HEADER_END//-->

<!--CUSTOM_ENTRY_START//-->
    <div class="accordion-item" id="accordion-item-{IMGID}">
        <h2 class="accordion-header" id="heading-{ID}-{IMGID}">
            <button class="accordion-button[FIRST] [/FIRST][FIRST_ELSE]collapsed[/FIRST_ELSE]" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{ID}-{IMGID}" aria-expanded="[FIRST]true[/FIRST][FIRST_ELSE]false[/FIRST_ELSE]" aria-controls="collapse-{ID}-{IMGID}">
                [CAPTION]{CAPTION}[/CAPTION][CAPTION_ELSE]Item #{ROW}[/CAPTION_ELSE]
            </button>
        </h2>
        <div id="collapse-{ID}-{IMGID}" class="accordion-collapse collapse[FIRST] show[/FIRST]" aria-labelledby="heading-{ID}-{IMGID}" data-bs-parent="#customAccordion{ID}">
            <div class="accordion-body">
                [IMAGE]
                <div class="mb-3">
                    {IMAGE}
                </div>
                [/IMAGE]
                [INFOTEXT]{INFOTEXT}[/INFOTEXT]
                [URL]
                <div class="mt-3">
                    <a href="{URL}"[URL_TARGET] target="{URL_TARGET}"[/URL_TARGET] class="btn btn-sm btn-outline-primary">More &raquo;</a>
                </div>
                [/URL]
            </div>
        </div>
    </div>
<!--CUSTOM_ENTRY_END//-->

<!--CUSTOM_ENTRY_SPACER_START//--><!--CUSTOM_ENTRY_SPACER_END//-->
<!--CUSTOM_ROW_SPACER_START//--><!--CUSTOM_ROW_SPACER_END//-->

<!--CUSTOM_FOOTER_START//-->
</div>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!--CUSTOM_FOOTER_END//-->
