<!--CUSTOM_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
; settings will overwrite CP settings
text_render = plain
<!--CUSTOM_SETTINGS_END//-->

<!--CUSTOM_HEADER_START//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]

[TITLE]<h3 class="h4 mb-2">{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4 class="h6 text-muted mb-3">{SUBTITLE}</h4>[/SUBTITLE]

[TEXT]<div class="mb-4">{TEXT}</div>[/TEXT]
<div class="accordion accordion-flush mb-4" id="customFaq{ID}">
<!--CUSTOM_HEADER_END//-->

<!--CUSTOM_ENTRY_START//-->
<div class="accordion-item">
    <h2 class="accordion-header" id="heading-{ID}-[CUSTCTP_SORT]{CUSTCTP_SORT}[/CUSTCTP_SORT]">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{ID}-[CUSTCTP_SORT]{CUSTCTP_SORT}[/CUSTCTP_SORT]" aria-expanded="false" aria-controls="collapse-{ID}-[CUSTCTP_SORT]{CUSTCTP_SORT}[/CUSTCTP_SORT]">
            [CUSTCTP_STRING1]{CUSTCTP_STRING1}[/CUSTCTP_STRING1]
        </button>
    </h2>
    <div id="collapse-{ID}-[CUSTCTP_SORT]{CUSTCTP_SORT}[/CUSTCTP_SORT]" class="accordion-collapse collapse" aria-labelledby="heading-{ID}-[CUSTCTP_SORT]{CUSTCTP_SORT}[/CUSTCTP_SORT]" data-bs-parent="#customFaq{ID}">
        <div class="accordion-body">
            [CUSTCTP_WYSIWYG1]{CUSTCTP_WYSIWYG1}[/CUSTCTP_WYSIWYG1]
        </div>
    </div>
</div>
<!--CUSTOM_ENTRY_END//-->

<!--CUSTOM_ENTRY_SPACER_START//--><!--CUSTOM_ENTRY_SPACER_END//-->
<!--CUSTOM_ROW_SPACER_START//--><!--CUSTOM_ROW_SPACER_END//-->

<!--CUSTOM_FOOTER_START//-->
</div>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!--CUSTOM_FOOTER_END//-->
