[TITLE]<h1>{TITLE}</h1>[/TITLE]
<!--CP_PAGINATE_START//-->
<div class="cpPagination">
[CP_PAGINATE_PREV]	<a href="{CP_PAGINATE_PREV}" class="cpPaginationPrev">&laquo; Previous</a>[/CP_PAGINATE_PREV]
[CP_PAGINATE]{CP_PAGINATE}[/CP_PAGINATE]
[CP_PAGINATE_NEXT]	<a href="{CP_PAGINATE_NEXT}" class="cpPaginationNext">Next &raquo;</a>[/CP_PAGINATE_NEXT]
</div>
<!--CP_PAGINATE_END//-->