[CLASS]<div class="{CLASS}">[/CLASS]
    [TITLE]<h1>{TITLE}</h1>[/TITLE]
    [SUB]<h2>{SUB}</h2>[/SUB]
    [IMAGE]
        <div class="article-summary-image">
            {IMAGE}
            [IMAGE_URL]<a href="{IMAGE_URL}"[IMAGE_TARGET] target="{IMAGE_TARGET}"[/IMAGE_TARGET]>[/IMAGE_URL]
                [CAPTION_SUPPRESS_ELSE][CAPTION]<span class="caption">
                    {CAPTION}[COPYRIGHT]
                    <span class="copyright">{COPYRIGHT}</span>[/COPYRIGHT]
                </span>[/CAPTION][/CAPTION_SUPPRESS_ELSE]
            [IMAGE_URL]</a>[/IMAGE_URL]
        </div>
    [/IMAGE]
    [SUMMARY]
        <div class="article-summary-text">
            {SUMMARY}
        </div>
    [/SUMMARY]
    [SYSTEM]
        <div class="article-system">
            {SYSTEM}
        </div>
    [/SYSTEM]
[CLASS]</div>[/CLASS]
<!--CP_PAGINATE_START//-->
<ul class="pagination">
    [CP_PAGINATE_PREV]<li><a href="{CP_PAGINATE_PREV}" class="{CP_PAGINATE_CLASS} paginate-prev">&laquo; Previous</a></li>[/CP_PAGINATE_PREV]
    [CP_PAGINATE]{CP_PAGINATE}[/CP_PAGINATE]
    [CP_PAGINATE_NEXT]<li><a href="{CP_PAGINATE_NEXT}" class="{CP_PAGINATE_CLASS} paginate-next">Next &raquo;</a></li>[/CP_PAGINATE_NEXT]
</ul>
[CP_PAGINATE_MENU]
    <!-- when no item prefix/suffix/... is given the default will be used (ul/li) -->
    <!-- with parameter: [ CP_PAGINATE_MENU : item_prefix|item_suffix|active_class|hide_active ] -->
    {CP_PAGINATE_MENU}
[/CP_PAGINATE_MENU]
<!--CP_PAGINATE_END//-->

<!--
    Livedate: {LIVEDATE:d.m.Y H:i:s lang=EN} / Killdate: {KILLDATE:d.m.Y H:i:s lang=EN} [IMAGE]

    Image ID   {IMAGE_ID}
    Image Hash {IMAGE_HASH}
    cmsImage   <img src="{PHPWCMS_RESIZE_IMAGE}/100x100/{IMAGE_ID}.jpg" alt="" border="0" />

    Thumbnail  {THUMB_NAME}
    Relative   {THUMB_REL}
    Absolute   {THUMB_ABS}
    WxH        {THUMB_WIDTH}px x {THUMB_HEIGHT}px[ZOOMIMAGE]

    Zoomimage  {IMAGE_NAME}
    Relative   {IMAGE_REL}
    Absolute   {IMAGE_ABS}
    WxH        {IMAGE_WIDTH}px x {IMAGE_HEIGHT}px
    [/ZOOMIMAGE][/IMAGE]
    [MORE] More link active[/MORE]
-->
