[SPACE]<!-- Space -->[/SPACE]
<div class="article-list-entry[CLASS] {CLASS}[/CLASS]">
[IMAGE]
	<div class="list-image">
		[ARTICLELINK]<a href="{ARTICLELINK}"{TARGET}>[/ARTICLELINK]
			{IMAGE}
		[ARTICLELINK]</a>[/ARTICLELINK]

		[CAPTION]
			<p class="list-image-caption">
				{CAPTION}
				[COPYRIGHT]<span class="copyright">{COPYRIGHT}</span>[/COPYRIGHT]
			</p>
		[/CAPTION]
	</div>
[/IMAGE]
[TITLE]	<h1>{TITLE}</h1>[/TITLE][SUB]
	<h2>{SUB}</h2>[/SUB][SUMMARY]
	<div class="article-list-summary">
		<strong>{DATE:j. F Y lang=EN}</strong>
		{SUMMARY}
	</div>
[/SUMMARY]
[SYSTEM]
	<div class="article-list-system">
		{SYSTEM}
	</div>
[/SYSTEM]
[MORE]
	<p class="article-list-more">
		<a href="{ARTICLELINK}"{TARGET}>{MORE}</a>
	</p>
[/MORE]
</div>
<!--
	Article ID   {ARTICLEID}
	Category ID  {CATEGORYID}
	Livedate     {LIVEDATE:d.m.Y H:i:s lang=EN} / Killdate: {KILLDATE:d.m.Y H:i:s lang=EN} [IMAGE]

	Image ID     {IMAGE_ID}
	Image Hash   {IMAGE_HASH}

	Thumbnail    {THUMB_NAME}
	Relative     {THUMB_REL}
	Absolute     {THUMB_ABS}
	WxH          {THUMB_WIDTH}px x {THUMB_HEIGHT}px[ZOOMIMAGE]

	Zoomimage    {IMAGE_NAME}
	Relative     {IMAGE_REL}
	Absolute     {IMAGE_ABS}
	WxH          {IMAGE_WIDTH}px x {IMAGE_HEIGHT}px
	[/ZOOMIMAGE][/IMAGE][BEFORE]
                 {BEFORE}
	[/BEFORE][AFTER]
                 {AFTER}
	[/AFTER]
-->