[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[BULLETLIST]
<ul>
{BULLETLIST}
<!--BULLETLIST_ITEM_START//-->
	<li>{BULLETLIST_ITEM}</li>
<!--BULLETLIST_ITEM_END//-->
</ul>
[/BULLETLIST]
