<!--FILE_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
icon_path           = "img/icons/"
icon_name           = "small_icon_{FILE_EXT}.gif"
thumbnail           = 0
thumbnail_width     = 50
thumbnail_height    = 50
thumbnail_crop      = 1
lightbox_init       = 0
file_size_round     = 1
file_size_space     = "&nbsp;"
date_format         = "%d.%m.%y"
set_locale          = "de_DE@Euro"
inline_download     = 1
<!--FILE_SETTINGS_END//-->
[HAS_FILES]<span class="files-inline files-inline-count-{FILE_COUNT}"><!--FILE_ENTRY_START//-->
<a href="{FILE_LINK}"{FILE_TARGET} title="@@Download@@ &raquo;{FILE_NAME}&laquo;" rel="nofollow" class="download-inline">[FILE_DESCRIPTION]{FILE_DESCRIPTION}[/FILE_DESCRIPTION][FILE_DESCRIPTION_ELSE][FILE_TITLE]{FILE_TITLE}[/FILE_TITLE][FILE_TITLE_ELSE]{FILE_NAME}[/FILE_TITLE_ELSE][/FILE_DESCRIPTION_ELSE]</a>
<span class="download-info">({FILE_EXT},&nbsp;{FILE_SIZE})</span>
<!--FILE_ENTRY_END//--></span>
[/HAS_FILES]