<!--IMAGETEXT_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
class_top_left				= imgtxt-top-left
class_top_center			= imgtxt-top-center
class_top_right				= imgtxt-top-right
class_bottom_left			= imgtxt-bottom-left
class_bottom_center			= imgtxt-bottom-center
class_bottom_right			= imgtxt-bottom-right
class_float_left			= imgtxt-left
class_float_right			= imgtxt-right
class_column_left			= imgtxt-column-left
class_column_right			= imgtxt-column-right
class_column_left_image		= imgtxt-column-left-image
class_column_right_image	= imgtxt-column-right-image
class_column_left_text		= imgtxt-column-left-text
class_column_right_text		= imgtxt-column-right-text
; width						= 300
; height					= 200
; zoom						= 1
; crop						= 1
; lightbox					= 1
; nocaption					= 0
<!--IMAGETEXT_SETTINGS_END//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
    <div class="image-with-text" id="imgtext-id-{ID}">
    [TITLE]	<h3>{TITLE}</h3>[/TITLE]
    [SUBTITLE]	<h4>{SUBTITLE}</h4>[/SUBTITLE]
    [IMAGETEXT]{IMAGETEXT}[/IMAGETEXT]
    </div>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!-- Sample CSS -->
<!-- CSS:
.imgtxt-top-left,
.imgtxt-bottom-left {
    position: relative;
    margin: 1em 0;
    clear: both;
}
.imgtxt-top-right,
.imgtxt-bottom-right {
    position: relative;
    float: right;
    margin: 1em 0;
    clear: both;
}
.imgtxt-top-center,
.imgtxt-bottom-center {
    position: relative;
    margin: 1em auto;
    clear: both;
}
.imgtxt-left {
    position: relative;
    float: left;
    margin: 0 1em 1em 0;
}
.imgtxt-right {
    position: relative;
    float: right;
    margin: 0 0 1em 1em;
}
.imgtxt-column-left {
    position: relative;
    clear: both;
    width: 100%;
}
.imgtxt-column-left .imgtxt-column-left-text {
    position: relative;
    float: left;
    margin: 0 1em 1em 0;
    width: 60%;
}
.imgtxt-column-left .imgtxt-column-left-image {
    position: relative;
    float: left;
    margin: 0 0 1em 1em;
    width: 35%;
}
.imgtxt-column-right {
    position: relative;
    clear: both;
    width: 100%;
}
.imgtxt-column-right .imgtxt-column-right-text {
    position: relative;
    float: right;
    margin: 0 0 1em 1em;
    width: 60%;
}
.imgtxt-column-right .imgtxt-column-right-image {
    position: relative;
    float: left;
    margin: 0 1em 1em 0;
    width: 35%;
}
-->