<!--IMAGETABLE_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
class_top_left			= imgtable-top-left
class_top_center		= imgtable-top-center
class_top_right			= imgtable-top-right
class_bottom_left		= imgtable-bottom-left
class_bottom_center		= imgtable-bottom-center
class_bottom_right		= imgtable-bottom-right
class_float_left		= imgtable-left
class_float_right		= imgtable-right
class_image_thumb		= image-thumb
class_image_wrapper		= image-wrapper
class_image_link		= image-link
class_image_zoom		= image-zoom
class_image_lightbox	= image-lightbox
; width					= 300
; height				= 200
; zoom					= 1
; crop					= 1
; lightbox				= 1
; nocaption				= 0
; col					= 5
; colspace				= 0
; limit					= 0
; random				= 0

<!--IMAGETABLE_SETTINGS_END//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
    <div class="image-table images-count-{IMAGE_COUNT}" id="imgtable-id-{ID}">[IMAGETABLE]
        {IMAGETABLE}[/IMAGETABLE]
    </div>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]