<!--LINKLIST_START//-->
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[LINKLIST]<ul class="linklist" id="linklist{ID}">
{LINKLIST}
</ul>[/LINKLIST]
<!--LINKLIST_END//-->

<!--LINKLIST_ENTRY_START//-->[LINK]	<li><a href="{LINK}"{TARGET}>{LINKNAME}</a></li>[/LINK]<!--LINKLIST_ENTRY_END//-->

<!--LINKLIST_SPACE_START//-->
<!--LINKLIST_SPACE_END//-->