<!--PDF_SETTINGS_START//-->
; Do not remove this!!!

PDF_file_prefix  = ""
PDF_disable_tags = "div,input,form,object,embed,script"
PDF_font_size    = 5

<!--PDF_SETTINGS_END//-->

<!--

    this is the default PDF template
    use it to add additional header or
    footer information or whatever you
    like to be rendered

//-->
URL: <a href="{CURRENT_URL}" target="_blank">{CURRENT_URL}</a>
<hr />
{CONTENT}
