<!--

    this is the default print template
    use it to add additional header or
    footer information or whatever you
    like to be rendered

//-->
<p>URL: <a href="{CURRENT_URL}" target="_blank">{CURRENT_URL}</a></p>
<hr />
<div>
{CONTENT}
</div>