<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1%" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr><td>[REF]{REF}[/REF]</td></tr>
      [CAPTION]<tr><td>{CAPTION}</td></tr>[/CAPTION]
    </table>
    [LIST]{LIST}[/LIST]</td>
    <td width="14" valign="top">&nbsp;</td>
    <td width="98%" valign="top">[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUB]<h4>{SUB}</h4>[/SUB]
[TEXT]<p>{TEXT}</p>[/TEXT]</td>
  </tr>
</table>