[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
<table class="reference" style="width:100%;">
  <tr>
    <td style="width:1%; vertical-align:top;"><table style="width:100%;">
      <tr><td>[REF]{REF}[/REF]</td></tr>
      [CAPTION]<tr><td>{CAPTION}</td></tr>[/CAPTION]
    </table>
    [LIST]{LIST}[/LIST]</td>
    <td style="width:14px; vertical-align:top;">&nbsp;</td>
    <td style="width:98%; vertical-align:top;">[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUB]<h4>{SUB}</h4>[/SUB]
[TEXT]<p>{TEXT}</p>[/TEXT]</td>
  </tr>
</table>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]