<!DOCTYPE html>
<html>
	<head>
		<title>Newsletter Anmelden/Abmelden</title>
		<meta charset="utf-8">
		<meta name="robots" content="noindex,nofollow">
		<meta http-equiv="refresh" content="10;URL={PHPWCMS_URL}">
		<link href="{PHPWCMS_TEMPLATE}inc_css/specific/newsletter_verification.css" rel="stylesheet">
	</head>
	
	<body>
		<p>
			Die E-Mail Addresse <strong>{EMAIL}</strong> wurde aktiviert.<br />
			Wenn Sie nicht innert 10 Sekunden weitergeleitet werden 
			<a href="{PHPWCMS_URL}">klicken Sie hier</a>.
		</p>
	</body>
</html>