<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>@@Newsletter Subscribe/Unsubscribe@@</title>
		<meta name="robots" content="noindex,nofollow">
		<meta http-equiv="refresh" content="10;URL={PHPWCMS_URL}">
		<link href="{PHPWCMS_TEMPLATE}inc_css/specific/newsletter_verification.css" rel="stylesheet">
	</head>

	<body>
		<p>
			@@The email address@@ <strong>{EMAIL}</strong> @@has been activated.@@<br>
			@@If you are not redirected within 10 seconds,@@ 
			<a href="{PHPWCMS_URL}">@@click here@@</a>.
		</p>
	</body>
</html>