<!--TABS_START//-->
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TABS_ENTRIES]
<dl id="tab{ID}" class="tabs">{TABS_ENTRIES}</dl>
[/TABS_ENTRIES]
<!--TABS_END//-->

<!--TABS_ENTRY_START//-->
	<dt>{TABTITLE}</dt>
	[TABCONTENT]<dd>
		[TABHEADLINE]<h3>{TABHEADLINE}</h3>[/TABHEADLINE]
		[TABTEXT]{TABTEXT}[/TABTEXT]
		[TABLINK]<p class="more"><a href="{TABLINK}"{TARGET}>@@read more@@</a></p>[/TABLINK]
	</dd>[/TABCONTENT]
<!--TABS_ENTRY_END//-->

<!--
	If you use custom fields you can use the following for testing
	See the fieldgroup1 in conf.template_default.inc.php
	[TAB_FIELDNAME1]{TAB_FIELDNAME1}[/TAB_FIELDNAME1][TAB_FIELDNAME1_ELSE] ... [/TAB_FIELDNAME1_ELSE]
	[TAB_FIELDNAME2]{TAB_FIELDNAME2}[/TAB_FIELDNAME2][TAB_FIELDNAME2_ELSE] ... [/TAB_FIELDNAME2_ELSE]
	[TAB_OPTIONNAME1]
		Will be the selected value {TAB_OPTIONNAME1}
		[TAB_OPTIONNAME1_OPTION1]{TAB_OPTIONNAME1_OPTION1}[/TAB_OPTIONNAME1_OPTION1]
		[TAB_OPTIONNAME1_OPTION2]{TAB_OPTIONNAME1_OPTION2}[/TAB_OPTIONNAME1_OPTION2]
	[/TAB_OPTIONNAME1]
-->