<!--TABS_START//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TABS_ENTRIES]
    <dl id="tab{ID}" class="tabs tabs-count-{TAB_COUNT}">{TABS_ENTRIES}</dl>
[/TABS_ENTRIES]
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!--TABS_END//-->

<!--TABS_ENTRY_START//-->
    <dt id="tab{ID}-{TABID}">[TABTITLE]{TABTITLE}[/TABTITLE][TABTITLE_ELSE]Tab #{TABID}[/TABTITLE_ELSE]</dt>
    [TABCONTENT]<dd>
        [TABHEADLINE]<h3>{TABHEADLINE}</h3>[/TABHEADLINE]
        [TABTEXT]{TABTEXT}[/TABTEXT]
        [TABLINK]<p class="more"><a href="{TABLINK}"{TARGET}>@@read more@@</a></p>[/TABLINK]
    </dd>[/TABCONTENT]
<!--TABS_ENTRY_END//-->

<!--
    If you use custom fields you can use the following for testing
    See the fieldgroup1 in conf.template_default.inc.php
    [TAB_STRING1]{TAB_STRING1}[/TAB_STRING1][TAB_STRING1_ELSE] ... [/TAB_STRING1_ELSE]
    [TAB_TEXTAREA1]{TAB_TEXTAREA1}[/TAB_TEXTAREA1][TAB_TEXTAREA1_ELSE] ... [/TAB_TEXTAREA1_ELSE]
    [TAB_OPTIONNAME1]
        Will be the selected value {TAB_OPTIONNAME1}
        [TAB_OPTIONNAME1_OPTION1]{TAB_OPTIONNAME1_OPTION1}[/TAB_OPTIONNAME1_OPTION1]
        [TAB_OPTIONNAME1_OPTION2]{TAB_OPTIONNAME1_OPTION2}[/TAB_OPTIONNAME1_OPTION2]
    [/TAB_OPTIONNAME1]
    [TAB_SELECT1]
        Will be the selected value {TAB_SELECT1}
        [TAB_SELECT1_OPTION1]{TAB_SELECT1_OPTION1}[/TAB_SELECT1_OPTION1]
        [TAB_SELECT1_OPTION2]{TAB_SELECT1_OPTION2}[/TAB_SELECT1_OPTION2]
    [/TAB_SELECT1]
    [TAB_INTEGER1]{TAB_INTEGER1}[/TAB_INTEGER1]
    [TAB_FLOAT1]{TAB_FLOAT1}[/TAB_FLOAT1]
    [TAB_BOOL1]True[/TAB_BOOL1][TAB_BOOL1_ELSE]False[/TAB_BOOL1_ELSE]
-->