<!--TEASER_HEAD_START//-->
[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TEASER]
<ul{LINK_ARTICLE_CLASS}>
<!--TEASER_HEAD_END//-->
<!--TEASER_ENTRY_START//-->
	<!-- AID: {ARTICLEID}, CID: {CATEGORYID} -->
	<li[PRIO] class="prio{PRIO}"[/PRIO]>
		<a href="{ARTICLELINK}">[CATEGORY]{CATEGORY}: [/CATEGORY][MENUTITLE]{MENUTITLE}[/MENUTITLE][MENUTITLE_ELSE]{TITLE}[/MENUTITLE_ELSE]</a>
	</li>
<!--TEASER_ENTRY_END//-->
<!--TEASER_ENTRY_SPACER_START//-->

<!--TEASER_ENTRY_SPACER_END//-->
<!--TEASER_FOOTER_START//-->
</ul>
[/TEASER]
<!--TEASER_FOOTER_END//-->
