<!--TEASER_HEAD_START//-->
<ul{LINK_ARTICLE_CLASS}>
<!--TEASER_HEAD_END//-->
<!--TEASER_ENTRY_START//-->
	<li><a href="{ARTICLELINK}">{TITLE}</a></li>
<!--TEASER_ENTRY_END//-->
<!--TEASER_ENTRY_SPACER_START//-->

<!--TEASER_ENTRY_SPACER_END//-->
<!--TEASER_FOOTER_START//-->
</ul>
<!--TEASER_FOOTER_END//-->
