<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Newsletter Subscribe/Unsubscribe</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="robots" content="noindex,nofollow" />
		<!-- <meta http-equiv="Refresh" content="10;URL={PHPWCMS_URL}" /> -->
		<style type="text/css">
		<!--
			@import url("{PHPWCMS_TEMPLATE}inc_css/specific/newsletter_verification.css");
		-->
		</style>
	</head>
	
	<body>
		<p>
			The email address <strong>{EMAIL}</strong> was deleted.<br />
			If you should not redirected within 10 seconds 
			<a href="{PHPWCMS_URL}">click here</a>.
		</p>
	</body>
</html>