<!DOCTYPE html>
<html>
	<head>
		<title>Newsletter  Anmelden/Abmelden</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="robots" content="noindex,nofollow" />
		<meta http-equiv="Refresh" content="10;URL={CMSGO_URL}">
		<link href="{CMSGO_TEMPLATE}inc_css/specific/newsletter_verification.css" rel="stylesheet">
	</head>
	
	<body>
		<p>
			Die E-Mail Addresse  <strong>{EMAIL}</strong> wurde aus unserem System gel&ouml;scht.<br />
			Wenn Sie nicht innert 10 Sekunden weitergeleitet werden 
			<a href="{CMSGO_URL}">klicken Sie hier</a>.
		</p>
	</body>
</html>