<!DOCTYPE html>
<html>
    <head>
        <title>Newsletter Unsubscribe</title>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow" />
        <meta http-equiv="Refresh" content="10;URL={PHPWCMS_URL}">
        <link href="{PHPWCMS_TEMPLATE}inc_css/specific/newsletter_verification.css" rel="stylesheet">
    </head>

    <body>
        <p>
            The email address <strong>{EMAIL}</strong> was deleted.<br />
            If you should not be redirected within 10 seconds <a href="{PHPWCMS_URL}">click here</a>.
        </p>
    </body>
</html>