<!--IMAGE_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
; settings will overwrite CP settings
;width         = 960
;height         = 200
;col         = 1
;zoom         = 1
;crop         = 0
;space         = 0
;lightbox      = 1
;nocaption      = 1
; 0 = no center, 1 = horizontal/vertical, 2 = horizontal, 3 = vertical
;center_image   = 0
 
<!--IMAGE_SETTINGS_END//-->
 
<!--IMAGES_ENTRY_START//-->

   <!-- CSS: div.banner {
		background-image: url({THUMB_REL}) !important;
		background-position: 0 {SPACE}px;		
   } -->
 
  
   <!--
      Thumbnail image:    {THUMB_NAME}
        relative:         {THUMB_REL}
        absolute:         {THUMB_ABS}
        height/width:     {THUMB_HEIGHT}px/{THUMB_WIDTH}px
        height/width max: {THUMB_HEIGHT_MAX}px/{THUMB_WIDTH_MAX}px
        columns:          {THUMB_COLUMNS}
        image ID:         {IMAGE_ID}
        image Hash:       {IMAGE_HASH}
		Space:			  {SPACE}
 
      [ZOOM]
      Zoomed (big) image: {IMAGE_NAME}
        relative: {IMAGE_REL}
        absolute: {IMAGE_ABS}
        height/width: {IMAGE_HEIGHT}px/{IMAGE_WIDTH}px
      [/ZOOM]
 
   //-->
<!--IMAGES_ENTRY_END//-->