<!--IMAGE_SETTINGS_START//-->
; this is formatted like WIN.INI
; please: do not use comments for value lines
; settings will overwrite CP settings
width			= 538
height			= 300
col				= 1
zoom			= 0
crop			= 0
;space			= 10
lightbox		= 0
;nocaption		= 0
thumb_class		= image-responsive
random			= 0
limit			= 0
; if set to 1 and total amount of images > limit render hidden feature
hide_limited	= 0
; 0 = no center, 1 = horizontal/vertical, 2 = horizontal, 3 = vertical
center_image	= 0
<!--IMAGE_SETTINGS_END//-->

<!--IMAGES_HEADER_START//-->
[ATTR_CLASS]<div class="{ATTR_CLASS}"[ATTR_ID] id="{ATTR_ID}"[/ATTR_ID]>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]<div id="{ATTR_ID}">[/ATTR_ID][/ATTR_CLASS_ELSE]

[TITLE]<h3>{TITLE}</h3>[/TITLE]
[SUBTITLE]<h4>{SUBTITLE}</h4>[/SUBTITLE]
[TEXT]{TEXT}[/TEXT]

<section class="slider splide" id="slider-{ID}">
	<div class="splide__track">
		<ul class="splide__list">
<!--IMAGES_HEADER_END//-->


<!--IMAGES_ENTRY_START//-->

			<li class="splide__slide">
				<figure class="image-item slide{ENTRY_ID} num{ENTRY_NUM}" id="figure-{IMGID}">
					{IMAGE}[CAPTION]
					<figcaption class="text-center">
						{CAPTION}
					</figcaption>[/CAPTION]
				</figure>
			</li>

<!--IMAGES_ENTRY_END//-->

<!--IMAGES_ENTRY_SPACER_START//-->

	<!-- space between images {SPACE}px -->

<!--IMAGES_ENTRY_SPACER_END//-->


<!--IMAGES_ROW_SPACER_START//-->

	<!-- space between image rows {SPACE}px -->

<!--IMAGES_ROW_SPACER_END//-->


<!--IMAGES_FOOTER_START//-->
		</ul>
	</div>
</section>
[ATTR_CLASS]</div>[/ATTR_CLASS][ATTR_CLASS_ELSE][ATTR_ID]</div>[/ATTR_ID][/ATTR_CLASS_ELSE]
<!-- CSS: template/lib/splide/splide.min.css -->
<!-- CSS:
	section.slider {
		position: relative;
		max-width: 538px;
	}
	section.slider figure {
		position: relative;
		display: block;
	}
	section.slider figure img.image-responsive,
	section.slider figure > a {
		position: relative;
		display: block;
		width: 100%;
		border: 0;
		z-index: 2;
		outline: none;
	}
	section.slider figure img.image-responsive {
		height: auto;
	}
	section.slider figure > figcaption {
		position: absolute;
		display: block;
		left: 15%;
		bottom: 10%;
		right: 15%;
	}
	.text-center {
		text-align: center;
	}
	.splide__slide {
		outline: none;
	}
	.splide__pagination {
		bottom: -1.5rem;
	}
-->
<!-- JS: template/lib/splide/splide.min.js -->
<!-- JS:
	document.addEventListener('DOMContentLoaded', function() {
		new Splide('#slider-{ID}', {
			type: 'loop',
			speed: 300,
			perPage: 1,
			pagination: true,
			arrows: true
		}).mount();
	});
-->
<!--IMAGES_FOOTER_END//-->